<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header">
<!-- Plugin Css-->
<link rel="stylesheet"
	href="assets/plugins/magnific-popup/dist/magnific-popup.css" />
<link rel="stylesheet"
	href="assets/plugins/jquery-datatables-editable/datatables.css" />
</head>

<body>


	<!-- Users Adding Modals -->
	<!-- Modal -->



	<div id="setmodel" class="custom-modal-text text-left"
		th:fragment="changePassword">
		<form role="form" th:action="@{/changePassword}" th:object="${entity}"
			method="POST">
			
			<div class="form-group">
				<div class="input-group m-t-10">
					<span class="input-group-addon"
						style="min-width: 140px; text-align: center;"><i
						class="fa fa-key" style="float: right;"></i> Old Password</span> <input
						type="password" th:field="*{oldpassword}" required="required"
						class="form-control" id="oldpassword" placeholder="Password">
				</div>
			</div>
			
			<div class="form-group">
				<div class="input-group m-t-10">
					<span class="input-group-addon"
						style="min-width: 140px; text-align: center;"><i
						class="fa fa-key" style="float: right;"></i> New Password</span> <input
						type="password" th:field="*{user.password}" required="required"
						class="form-control" id="password" placeholder="Password">
				</div>
			</div>

			<div class="form-group">
				<div class="input-group m-t-10">
					<span class="input-group-addon"
						style="min-width: 140px; text-align: center;"><i
						class="fa fa-lock" style="float: right;"></i> Confirm Password</span> <input
						data-parsley-equalto="#password" type="password"
						class="form-control" required="required" id="confirmpassword"
						placeholder="Confirm Password">
				</div>
			</div>




			<input type="hidden" id="userId" th:field="*{user.id}" />

			<div class="row cen">
				<button type="submit" name="action" value="save"
					class="btn btn-success btn-custom waves-effect waves-light">Submit</button>

				<button type="button" onclick="reset();"
					class="btn btn-inverse btn-custom waves-effect waves-light">Reset</button>

			</div>
		</form>
	</div>

	<!-- USer adding ends -->

</body>

<div th:replace="footer :: script"></div>
<script type="text/javascript">
	$(document).ready(function() {
		$('form').parsley();
	});
</script>

</html>

