<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header">
<!-- Plugin Css-->
<link rel="stylesheet"
	href="assets/plugins/magnific-popup/dist/magnific-popup.css" />
<link rel="stylesheet"
	href="assets/plugins/jquery-datatables-editable/datatables.css" />
<script th:if="${customerEntity.customerRequest.customerRequestId!=null}">
 
	function setPayMethodEdit() {
	
		var paymentMethodId = 0;
		if (document.getElementById("pmAdvance").checked) {
			paymentMethodId = document.getElementById("pmAdvance").value
		} else if (document.getElementById("pmBank").checked) {
			paymentMethodId = document.getElementById("pmBank").value
		} else if (document.getElementById("pmCash").checked) {
			paymentMethodId = document.getElementById("pmCash").value
		} else if (document.getElementById("pmCredit").checked) {
			paymentMethodId = document.getElementById("pmCredit").value
		} else {
			paymentMethodId = 0;
		}
		document.getElementById("hfPaymentMethod1").value = paymentMethodId;
	/* 	var form = document.getElementById("customerReqForm");		
		$( form ).submit(function( event ) {
			if(paymentMethodId==0){
				swal("Select Payment Method.");
			  event.preventDefault();
			  }
			}); */

		

	}
</script>
</head>

<body>
	<!--Customer Modal -->
	<div id="setmodel" class="custom-modal-text text-left"
		th:fragment="customerRequest">
		<form id="customerReqForm" role="form" th:action="@{/customerrequestlist}"
			th:object="${customerEntity}" method="POST">
			<div class="modal-body col-lg-12">
				<div class="col-md-6">
					<div class="card-box blue">
						<div class="row">
							<div class="col-md-6">
							
								<div class="form-group">
									<label for="salesrepcode" class="control-label">Sales
										Rep Code</label> <input readonly="readonly" type="text" maxlength="6"
										class="form-control" id="salesrepcode"
										th:field="*{customerRequest.user.employeeId}" placeholder="5214"
										required="">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="customername" class="control-label">Sales
										Rep Name</label> <select id="salesrepname"
										onChange="userCodeFunctionEdit()"
										th:if="${customerEntity.customerRequest.customerRequestId==null}"
										class="form-control select2" th:field="*{customerRequest.user.id}">
										<optgroup>
											<option value="">Select</option>
											<option th:each="user : ${userList}" th:value="${user.id}"
												th:text="${user.name}"></option>
										</optgroup>

									</select> <input
										th:readonly="${customerEntity.customerRequest.customerRequestId!=null}"
										id="salesrepname" name="customerRequest.user.id"
										th:if="${customerEntity.customerRequest.customerRequestId!=null}"
										type="hidden" class="form-control"
										th:field="${customerEntity.customerRequest.user.id}"> <input
										th:readonly="${customerEntity.customerRequest.customerRequestId!=null}"
										th:if="${customerEntity.customerRequest.customerRequestId!=null}"
										type="text" class="form-control"
										th:field="${customerEntity.customerRequest.user.name}">
									<!-- 									<select
								 id="salesrepname" required th:field="*{customerRequest.salesRepresentativeName}" 
								class="form-control select2 dropdown-toggle btn-custom2" >
								<option value="">Please Select</option>
							
							</select>
 -->
								</div>
							</div>
							<!--  -->
						</div>
						<div class="row"></div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="customerno" class="control-label">Customer
										No.</label> <input readonly="readonly" type="text" maxlength="6"
										class="form-control" id="customerno"
										th:field="*{customerRequest.code}" placeholder="8922">
								</div>
							</div>
							<!-- -->
							<div class="col-md-6">
								<div class="form-group">
									<label for="customername" class="control-label">Customer
										Name</label> <input readonly="readonly" type="text"
										class="form-control" id="customername"
										th:field="*{customerRequest.name}" placeholder="Doe">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="contactperson" class="control-label">Contact
										Person</label> <input readonly="readonly" type="text"
										class="form-control" id="contactperson"
										th:field="*{customerRequest.contactPerson}" placeholder="John">
								</div>
							</div>
							<!--  -->
							<div class="col-md-6"
								th:if="*{customerRequest.customerRequestId==null}">
								<div class="form-group">
									<label for="datepicker-autoclose" class="control-label">Date</label>
									<input readonly="readonly" type="text" maxlength="10"
										class="form-control" id="myDate" th:field="*{creationDate}"
										placeholder="15/06/2016">
								</div>
							</div>
							<div class="col-md-6"
								th:if="*{customerRequest.customerRequestId!=null}">
								<div class="form-group">
									<label for="datepicker-autoclose" class="control-label">Date</label>
									<input readonly="readonly" type="text" maxlength="10"
										class="form-control" id="myDateEdit"
										th:field="*{creationDate}" placeholder="15/06/2016">
								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="customeraddress" class="control-label">Address</label>
									<input readonly="readonly" type="text" class="form-control"
										id="customeraddress" th:field="*{customerRequest.address}"
										placeholder="L210, 15th Street, Phase 8, DHA">
								</div>
							</div>
						</div>
						<!--   <div class="row"> 
                                                        <div class="col-md-12"> 
                                                            <div class="form-group"> 
                                                                <label for="city" class="control-label">City</label> 
                                                                <input readonly="readonly" type="text" class="form-control" id="city"  th:field="*{customerRequest.city.name}" placeholder="Karachi"> 
                                                            </div> 
                                                        </div> </div>  -->
						<div class="form-group m-b-20"
							th:if="*{customerRequest.customerRequestId!=null}">
							<label>City <span class="text-danger"></span></label> <a
								class="btn btn-primary waves-effect waves-light R"
								onclick="newCity();"><i class="fa fa-plus"> New</i></a> <select
								id="cityEdit" required th:field="*{customerRequest.city.cityId}"
								onChange="cityCodeFunctionEdit()"
								class="form-control select2 dropdown-toggle btn-custom2">
								<option value="">Please Select City</option>
								<option th:each="cityList : ${cityList}"
									th:value="${cityList.cityId}" th:text="${cityList.name}">
								</option>
							</select>

						</div>
						<div class="form-group m-b-20"
							th:if="*{customerRequest.customerRequestId==null}">
							<label>City <span class="text-danger"></span></label> <a
								class="btn btn-primary waves-effect waves-light R"
								onclick="newCity();"><i class="fa fa-plus"> New</i></a> <select
								id="city" required th:field="*{customerRequest.city.cityId}"
								onChange="cityCodeFunction()"
								class="form-control select2 dropdown-toggle btn-custom2">
								<option value="">Please Select City</option>
								<option th:each="cityList : ${cityList}"
									th:value="${cityList.cityId}" th:text="${cityList.name}">
								</option>
							</select>

						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="postalcode" class="control-label">Postal
										Code</label> <input readonly="readonly" type="text"
										class="form-control" id="postalcode"
										th:field="*{customerRequest.postalCode}" placeholder="747000" />
								</div>
							</div>
							<div class="col-md-6"
								th:if="*{customerRequest.customerRequestId==null}">
								<div class="form-group">
									<label for="citycode" class="control-label">City Code</label> <input
										readonly="readonly" type="text" maxlength="6"
										class="form-control" id="citycode" disabled placeholder="0215">
								</div>
							</div>
							<div class="col-md-6"
								th:if="*{customerRequest.customerRequestId!=null}">
								<div class="form-group">
									<label for="citycode" class="control-label">City Code</label> <input
										readonly="readonly" type="text" maxlength="6"
										class="form-control" id="citycodeEdit" disabled
										placeholder="0215">
								</div>
							</div>

							<div class="col-md-12">
								<div class="form-group">
									<label for="email" class="control-label">Email</label> <input
										readonly="readonly" type="email" id="email"
										name="example-email" class="form-control"
										th:field="*{customerRequest.email}" placeholder="doe@john.com">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="cnic" class="control-label">CNIC</label> <input
										readonly="readonly" type="text" id="cnic" name="example-cnic"
										class="form-control" th:field="*{customerRequest.cnic}"
										placeholder="42106-6449522-5">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="cdpercentage" class="control-label">Customer
										Discount Percentage</label> <input readonly="readonly" type="text"
										id="cdpercentage" name="example-cnic" class="form-control"
										th:field="*{customerRequest.discount}" placeholder="18%">
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card-box red">
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label for="tel" class="control-label">Telephone No.</label> <input
										readonly="readonly" type="text" maxlength="12"
										class="form-control" th:field="*{customerRequest.phone}"
										onkeypress='return event.charCode >= 48 && event.charCode <= 57'
										id="tel" placeholder="">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="business1" class="control-label">Business 1</label>
									<input readonly="readonly" type="text"
										onkeypress='return event.charCode >= 48 && event.charCode <= 57'
										maxlength="12" class="form-control"
										th:field="*{customerRequest.business}" id="business1"
										placeholder="">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="business2" class="control-label">Business 2</label>
									<input readonly="readonly" type="text" maxlength="12"
										class="form-control" th:field="*{customerRequest.business2}"
										onkeypress='return event.charCode >= 48 && event.charCode <= 57'
										id="business2" placeholder="">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="mobile" class="control-label">Mobile</label> <input
										readonly="readonly" type="text" maxlength="11"
										class="form-control" id="mobile"
										th:field="*{customerRequest.mobile}"
										onkeypress='return event.charCode >= 48 && event.charCode <= 57'
										placeholder="">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="residence" class="control-label">Residence</label>
									<input readonly="readonly" type="text" class="form-control"
										id="residence" th:field="*{customerRequest.residence}"
										maxlength="12"
										onkeypress='return event.charCode >= 48 && event.charCode <= 57'
										placeholder="">
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="fax" class="control-label">Fax</label> <input
									readonly="readonly" type="text" maxlength="25"
									class="form-control" id="fax" maxlength="12"
									onkeypress='return event.charCode >= 48 && event.charCode <= 57'
									th:field="*{customerRequest.fax}" placeholder="">
							</div>
						</div>

					</div>



					<div class="card-box purple">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="bank" class="control-label">Bank</label> <input
										readonly="readonly" type="text" class="form-control" id="bank"
										th:field="*{customerRequest.bank}" placeholder="HBL">

								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="branch" class="control-label">Branch</label> <input
										readonly="readonly" type="text" class="form-control"
										id="branch" th:field="*{customerRequest.branch}"
										placeholder="">
								</div>
							</div>

							<div class="col-md-12">
								<div class="form-group">
									<label for="address" class="control-label">Address</label> <input
										readonly="readonly" type="text" class="form-control"
										id="address" th:field="*{customerRequest.bankAddress}"
										placeholder="">
								</div>
							</div>
						</div>

						<div id="transportselect" class="form-group m-b-20 "
							th:if="*{customerRequest.customerRequestId!=null}">
							<label>Transport <span class="text-danger">*</span></label><a
								onclick="newTransport();"
								class="btn btn-primary waves-effect waves-light R"><i
								class="fa fa-plus"> New</i></a> <select id="transportname"
								th:field="*{customerRequest.transport.transportId}"
								class="form-control select2 dropdown-toggle btn-custom2">
								<option th:each="transportList : ${transportList}"
									th:value="${transportList.transportId}"
									th:text="${transportList.name}"></option>
							</select>
						</div>
						<div id="transportselect" class="form-group m-b-20 "
							th:if="*{customerRequest.customerRequestId==null}">
							<label>Transport <span class="text-danger">*</span></label><a
								onclick="newTransportEdit();"
								class="btn btn-primary waves-effect waves-light R"><i
								class="fa fa-plus"> New</i></a> <select id="transportnameEdit"
								th:field="*{customerRequest.transport.transportId}"
								class="form-control select2 dropdown-toggle btn-custom2">
								<option th:each="transportList : ${transportList}"
									th:value="${transportList.transportId}"
									th:text="${transportList.name}"></option>
							</select>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="ntn" class="control-label">N.T.N No.</label> <input
										readonly="readonly" type="text" maxlength="10"
										class="form-control" id="ntn"
										th:field="*{customerRequest.NTN}" placeholder="">
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label for="gstno" class="control-label">G.S.T No</label> <input
										readonly="readonly" type="text" maxlength="10"
										class="form-control" id="gstno"
										th:field="*{customerRequest.GSTNo}" placeholder=""> <span
										th:if="${customerEntity.customerRequest.customerRequestId!=null}"> <input
										type="hidden" id="hfPaymentMethod1" class="form-control"
										th:field="*{customerRequest.paymentMethod.paymentMethodId}"
										placeholder="">
									</span> <span th:if="${customerEntity.customerRequest.customerRequestId==null}">
										<input type="hidden" id="hfPaymentMethod" class="form-control"
										th:field="*{customerRequest.paymentMethod.paymentMethodId}"
										placeholder=""></span>
								</div>
							</div>
						</div>
					</div>
				</div>



				<div class="col-md-12 card-box reddish">
					<div class="form-group">
						<label class="control-label">Terms & Conditions</label><br /> <input
							readonly="readonly" type="hidden"
							th:field="*{customerRequest.paymentMethod.paymentMethodId}" />
							<script th:inline="javascript">

					   									var paymentId= [[*{customerRequest.paymentMethod.paymentMethodId}]];
					   									if(paymentId!=null && paymentId==1){
					   										$("#pmAdvance").prop('checked', true);
					   									}
					   									if(paymentId!=null && paymentId==2){
					   										$("#pmBank").prop('checked', true);					   										
					   									}
					   									if(paymentId!=null && paymentId==3){
					   										$("#pmCash").prop('checked', true);
					   									}
					   									if(paymentId!=null && paymentId==4){
					   										$("#pmCredit").prop('checked', true);					   										
					   									}
					   								/* 	document.getElementsByClassName("toggle").onclick = function() {myFunction()};

					   									function myFunction() {
					   										$("#pmAdvance1").removeAttr('checked', 'checked');
					   										$("#pmBank1").removeAttr('checked', 'checked');
					   										$("#pmCash1").removeAttr('checked', 'checked');
					   										$("#pmCredit1").removeAttr('checked', 'checked');
					   									} */
					   									</script>
						<div class="col-md-12 cen fon cc-selector"
							style="margin-bottom: -80px;">
							<div class="radio radio-info radio-inline col-sm-3" checked=""
								style="margin-top: 5px">
								<input readonly="readonly" type="radio" id="pmAdvance" value="1"
									name="radioInline" checked=""> <label for="pmAdvance"
									class="drinkcard-cc advance"></label>

							</div>
							<div class="radio radio-inline col-sm-3" checked=""
								style="margin-top: 5px">
								<input readonly="readonly" type="radio" id="pmBank" value="2"
									name="radioInline"> <label for="pmBank"
									class="drinkcard-cc bank"></label>
							</div>
							<div class="radio radio-pink col-sm-3" checked=""
								style="margin-top: 5px">
								<input readonly="readonly" type="radio" id="pmCash" value="3"
									name="radioInline"> <label for="pmCash"
									class="drinkcard-cc cash"></label>
							</div>
							<div class="radio radio-warning col-sm-2" checked=""
								style="margin-top: 5px">
								<input readonly="readonly" type="radio" id="pmCredit" value="4"
									name="radioInline"> <label for="pmCredit"
									class="drinkcard-cc credit"></label>
							</div>

						</div>
					</div>

					<div class="checkbox checkbox-custom col-md-12 condition">
						<input readonly="readonly" id="confirm" type="checkbox"
							checked="checked"> <label for="confirm"> All the
							information given above is correct and verified by me personally.
						</label>
					</div>




				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group no-margin">
							<label for="personalinfo" class="control-label">Personal
								Info</label>
							<textarea readonly="readonly" class="form-control autogrow"
								id="personalinfo" th:field="*{customerRequest.personalInfo}"
								placeholder="Write something important to remember about the customerRequest"
								style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 60px;"></textarea>
						</div>
					</div>
				</div>

  			    <input readonly="readonly"  type="hidden" id="customerRequestId" th:field="*{customerRequest.customerRequestId}" />





				<div class="modal-footer cen">
					<button type="submit" onclick="setPayMethodEdit()"
						class="btn btn-success btn-custom waves-effect waves-light">Save
						changes</button>
					<button type="button" onclick=" location.reload();"
						class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
				</div>
			</div>
		</form>


	</div>



</body>

<div th:replace="footer :: script"></div>
<script
	th:src="@{/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
<script>
	function dateFunction() {
		//alert("Date called");
		jQuery("#myDate").datepicker({
			autoclose : true,
			todayHighlight : true
		});

	}
</script>




</html>

