<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header"></head>
<script>
	function setPayMethod() {
		var paymentMethodId = 0;
		if (document.getElementById("pmAdvance").checked) {
			paymentMethodId = document.getElementById("pmAdvance").value
		} else if (document.getElementById("pmBank").checked) {
			paymentMethodId = document.getElementById("pmBank").value
		} else if (document.getElementById("pmCash").checked) {
			paymentMethodId = document.getElementById("pmCash").value
		} else if (document.getElementById("pmCredit").checked) {
			paymentMethodId = document.getElementById("pmCredit").value
		} else {
			paymentMethodId = 0;
		}
		document.getElementById("hfPaymentMethod").value = paymentMethodId;
/* var form = document.getElementById("customerForm");
		
		$( form ).submit(function( event ) {
			  swal( "Handler for .submit() called." );
			  event.preventDefault();
			}); */
	
    
	}
	
	
</script>

<body class="fixed-left">
	<div id="wrapper">
		<div class="topbar" th:replace="header :: topbar"></div>
		<div class="left side-menu" th:replace="header :: navigation"></div>


		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div
					class="mdl-color--pink ml-header relative clear fadeInLeft animated"
					style="min-height: 195px; margin-left: -5px; margin-top: -20px;">
					<div class="p-20">
						<h1 class="cen white">Customer Management</h1>
					</div>
				</div>
				<div class="ml-card-holder cards-top  container"
					style="margin-top: -100px;">

					<!-- Page-Title -->
					<div class="row">
						<div class="col-sm-12">
							<h4 class="page-title">Customers</h4>
							<ol class="breadcrumb">

							</ol>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12">
							<div class="card-box fadeInUp animated">
								<div class="row">
									<div class="col-sm-8">
										<!-- <form role="form">
											<div class="form-group contact-search m-b-30">
												<input type="text" id="search" class="form-control"
													placeholder="Search...">
												<button type="submit" class="btn btn-white">
													<i class="fa fa-search"></i>
												</button>
											</div>
											form-group
										</form> -->
									</div>

								</div>
								<div class="panel-body">
										
										<h1>
										<span th:if="${responseCode=='1'}"><span style="color:green ;" th:text="${responseMessage}"></span></span>
										<span th:if="${responseCode=='2'}"><span style="color:red ;" th:text="${responseMessage}"></span></span>
										
										</h1>
										
									<div class="row" sec:authorize="hasAnyRole('ROLE_SMS_OWNER','ROLE_SALE_MANAGER')">
										<div class="col-sm-6">
											<a data-toggle="modal" data-target="#stack1"
												class="btn btn-default btn-md waves-effect waves-light m-b-30"
												data-overlaySpeed="600" data-overlayColor="#36404a"><i
												class="fa fa-plus" id="customerAddButton"></i>
												Add Customer</a>
										</div>
									</div>

									<div class="">
										<table class="table table-striped" id="customerListTable">
											<thead>
												<tr>
													<th>Name</th>
													<th>City</th>													
													<th>Sales Rep Code</th>
													<th>Sales Rep Name</th>
													<th>Mobile</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr class="gradeA" th:each="customerlist: ${customerlist}">
													<td th:text="${customerlist.name}">name</td>
													<td th:text="${customerlist.city.name}">name</td>

													
													<td th:text="${customerlist.user.employeeId}">salesRepresentativeCode</td>
													<td th:text="${customerlist.user.name}">salesRepresentativeName</td>
													<!-- <td th:text="${orderlist.totalQuentity}">totalQuentity</td> -->
													<td th:text="${customerlist.mobile}">mobile</td>

													<!-- 	<td><a href="orderform1.html" class="view"><i
															class="fa fa-eye view"></i></a></td> -->

													<td class="actions"><a href="#"
														th:onclick="'javascript:setObject(\''+ ${customerlist.customerId} +'\');'"
														id="editExistingCustomer"><i class="fa fa-pencil"></i></a>
														<!-- <a href="#" class="on-default remove-row" th:onclick="'javascript:deleteObject(\''+ ${customerlist.customerId} +'\');'"><i 
															class="fa fa-trash-o"></i></a> -->
												<a
													th:onclick="'javascript:deleteObject(\''+ ${customerlist.customerId} +'\');'"
													data-toggle="modal" href="#" data-target="#modalconfirm"
													data-overlaySpeed="600" data-overlayColor="#36404a"
													class=""><i class="fa fa-trash-o"
														style="font-size: 20px;"></i></a></td>			
													</td>
												</tr>

											</tbody>
										</table>
										<!-- Modal deleting starts -->
					
										
									</div>
								</div>
								<!-- end: page -->

							</div>
					

				</div>





			</div>
			<!-- container -->

		</div>
		<!-- content -->


	</div>


	<!-- Modal -->


	<div id="stack1" class="modal fade" tabindex="-1" data-focus-on="input:first" style="display: none;">


		<div class="modal-dialog card-box" style="width: 75%;">
			<div class="modal-header" style="padding: 0px;">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true"
					style="width: 10px; padding-top: 0px; margin-bottom: 0px;">
					<span>&times;</span><span class="sr-only">Close</span>
				</button>
				<h1 class="modal-title cen" id="customerListHeading">Add New
					Customer</h1>
			</div>
			<div th:replace="modals :: customer"></div>
		</div>
	</div>

	<!-- ============================================================== -->
	<!-- End Right content here -->
	<!-- ============================================================== -->





	<div id="customerEdit" class="modal fade in col-sm-12" 
		role="dialog" aria-labelledby="full-width-modalLabel"
		aria-hidden="true" style="display: none;">


		<div class="modal-dialog card-box" style="width: 75%;">
			<div class="modal-header" style="padding: 0px;">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true"
					style="width: 10px; padding-top: 0px; margin-bottom: 0px;">
					<span>&times;</span><span class="sr-only">Close</span>
				</button>
				<h1 class="modal-title cen" id="customerListHeading">Edit
					Customer</h1>
			</div>
			<div id="modelshow">
			</div>
		</div>
	</div>





<div id="stack21" class="modal fade modalcancel" 
			data-focus-on="input:first" tabindex="-1" style="display: none;">
			<div class="sweet-alert show-input showSweetAlert visible"
				data-custom-class="" data-has-cancel-button="true"
				data-has-confirm-button="true" data-allow-outside-click="false"
				data-has-done-function="true" data-animation="slide-from-top"
				data-timer="null" style="display: block; ">
				<div class="sa-icon sa-error" style="display: none;">
					<span class="sa-x-mark"> <span class="sa-line sa-left"></span>
						<span class="sa-line sa-right"></span>
					</span>
				</div>
				<div class="sa-icon sa-warning" style="display: none;">
					<span class="sa-body"></span> <span class="sa-dot"></span>
				</div>
				<div class="sa-icon sa-info" style="display: none;"></div>
				<div class="sa-icon sa-success" style="display: none;">
					<span class="sa-line sa-tip"></span> <span class="sa-line sa-long"></span>

					<div class="sa-placeholder"></div>
					<div class="sa-fix"></div>
				</div>

				<div class="sa-icon sa-custom" style="display: none;"></div>

				
				<h2>Add Transport </h2>
				<p style="display: block;">Type Transport Name:</p>
				<fieldset>
						<input type="text" tabindex="3" id="newtransEdit" placeholder="Transport Name">

						<div class="sa-input-error"></div>
				</fieldset>
				<div class="sa-error-container">
					<div class="icon">!</div>
					<p>Not valid!</p>
				</div>
				<div class="sa-button-container">
					<button class="cancel"  onclick="cancelFunctionEdit()" tabindex="2"
						style="display: inline-block;">Cancel</button>
					<div class="sa-confirm-button-container">
						<button onclick="transFunctionEdit()" class="confirm" tabindex="1"
							style="display: inline-block; box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset; 
							background-color: rgb(140, 212, 245);">OK</button>
						<div class="la-ball-fall">
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
				</div>
			</div>
		</div>


<!-- Modal City Add -->
<div class="modal fade" id="modalCity" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" style="float:right;"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Add City & City Code
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body" style="color:black">
                
                <form role="form">
                  <div class="form-group">
                    <label for="">City</label>
                      <input type="text" class="form-control"
                      id="newCity" placeholder=""/>
                  </div>
                  <div class="form-group">
                    <label for="">City Code</label>
                      <input type="text" class="form-control"
                          id="newCityCode" placeholder=""/>
                  </div>
                  
              
                
                

            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
                <button type="button" onclick="newCityValues()" class="btn btn-primary"  data-dismiss="modal">
                    Add City
                </button>
                
            </div>
              </form>
                          </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTransport" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" style="float:right;"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Add New Transport
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body" style="color:black">
                
                <form role="form">
                  <div class="form-group">
                    <label for="">Transport</label>
                      <input type="text" class="form-control"
                      id="newtrans" placeholder=""/>
                  </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
                <button type="button" onclick="transFunction()" class="btn btn-primary"  data-dismiss="modal">
                    Save changes
                </button>
                
            </div>
              </form>
                          </div>
        </div>
    </div>
</div>

	<div id="modalconfirm" class="modal fade bs-example-modal-lg in"
						class="modal fade in col-sm-12" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true"
						style="display: none; padding-right: 17px; margin-top: 10%;">
						<div class="modal-dialog card-box">
							<div class="panel panel-default panel-danger">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true"
									style="width: 40px; margin-top: -5px; margin-bottom: 0px;">
									<span>&times;</span><span class="sr-only">Close</span>
								</button>
								<div class="panel-body">
									<form role="form" th:action="@{/deleteCustomer}" method="POST">
										<div class="form-group">
											<h2>Delete Customer Permanently?</h2>
										</div>
										<input type="hidden" id="customerDeleteId"
											name="customerDeleteId" />
										<div class="row cen">
											<button type="submit"
												class="btn btn-success btn-custom waves-effect waves-light" >YES</button>
											<button type="button"
												class="btn btn-inverse btn-custom waves-effect waves-light"
												data-dismiss="modal" aria-hidden="true">NO</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>			
			
			
	<!--   Right Sidebar -->
	<div class="side-bar right-bar nicescroll"
		th:replace="footer :: rightbar"></div>
	<!-- /Right-bar -->

	</div>
	<!-- END wrapper -->
	<script>
		function setObject(id) {
			$.ajax({
				type : "get",
				url : "editCustomer",
				data : "customerId=" + id,
				success : function(data) {
					// (data).showModal(); 

					// $('#modelshow').html(data);
					$('#modelshow').html(data);
					$('#customerEdit').modal('show');				
					

					//$(data).modal('show');
					// alert($("#setModel").text());
				}
			}).done(function(data) {
				if (data != 0) {

				} else {
				}
			}).error(function(data) {
			});

		}

		function deleteObject(id) {
			$('#customerDeleteId').val(id);
		}
		
		
	

	

		
		
	</script>

	<div th:replace="footer :: script"></div>
	   <script th:src="@{/plugins/parsleyjs/dist/parsley.min.js}"></script>
	     <script th:src="@{/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js}"></script>
         <script th:src="@{/plugins/autoNumeric/autoNumeric.js}"></script>
           
         	<script>
         	$(document).ready(function(){
         	    $('#saveTrans').click(function(){
         	    	transFunction();
         	    		transFunctionEdit();
         	      
         	    });
         	});
         	function newCity(){
         		//$("#stack1").modal("hide");
				$('#modalCity').modal('show');
         		
         	};
         	function newCityValues(){
         		
         		var newCity = $('#newCity').val();
         		var newCityCode = $('#newCityCode').val();
         		
         		$.ajax(
    					{
    						type : "post",
    						url : "/addCity",
    						data : "cityName=" + newCity
    								+ "&cityCode=" + newCityCode,
    								dataType : 'json',
    						success : function(data) {
    						}
    					})
    			.done(
    					function(data) {
    						//alert(data);
    						if (data != null) {
    							//alert(data);
    							$('#city').append(
    									'<option value="' + data + '" selected="selected">'
    											+ newCity + '</option>');
    			         		$('#cityEdit').append(
    									'<option value="' + data + '" selected="selected">'
    											+ newCity + '</option>');
    			         		
    							

    						} else {
    							alert("Does not exist");
    						}
    					})
    			.error(
    					function(data) {
    						swal(
    								"Oops",
    								"We couldn't connect to the server!",
    								"error");
    					});

         		$('#citycode').val(newCityCode);
         		$('#citycodeEdit').val(newCityCode);
         		
         	
         	}
         	
         
         	
         	function cityCodeFunction() {
				 var a = $('#city').val();
				 var id = $('#citycode');
				
				if (a === "") {
					$(id).val("");
					return false;
				} else {
					var url = "/getCityCode";
					var msg = "cityCode";
					var id = "#citycode";
					check(a, url, msg, id);
					/* swal("Added!", "Category Name Added!", "success"); */
				}

			};
           	function cityCodeFunctionEdit() {
				 var a = $('#cityEdit').val();
				 var id = $('#citycodeEdit');
				 
				if (a === "") {	
					$(id).val("");
					return false;
				} else {
					var url = "/getCityCode";
					var msg = "cityCode";
					
					check(a, url, msg, id);
			
				}

			};
			
			function userCodeFunctionEdit() {
				 var a = $('#salesrepname').val();				
				 var id = $('#salesrepcode');
				
				if (a === "") {
					$(id).val("");
					return false;
				} else {
					var url = "/getUserCode";
					var msg = "userCode";
					
					check(a, url, msg, id);
			
				}

			};
			
			function check(a, url, msg, optId) {
				$.ajax({
					type : "post",
					url : url,
					data : "inputValue=" + a,
					success : function(data) {
					}
				}).done(function(data) {
					if (data != 0) {
						$(optId).val(data);
					} else {
						$(optId).val("");
						
					}
				}).error(
						function(data) {
							swal("Oops", "We couldn't connect to the server!",
									"error");
						});
			};
         	
         
			function cancelFunction(){
				//$("#stack2").modal("hide");
			//	$('#stack1').modal('show');
			};
			function cancelFunctionEdit(){
			
				$("#stack21").modal("hide");
				$('#customerEdit').modal('show');
			};
			function newTransport() {
				$('#modalTransport').modal('show');
			};
			function newTransportEdit() {
				
				$('#modalTransport').modal('show');
			};
			function transFunction(){
				var a = $('#newtrans').val();
									if (a === "") {
										swal("Oops", " Creation Failed! Please Try Again", "error");
										return false;
									} else {
										var url = "/saveTransportCategory";
										var msg = "Transport";
										var id = "#transportnameEdit";
										var idEdit = "#transportname";
										test(a, url, msg, id, idEdit);
										/* swal("Added!", "Category Name Added!", "success"); */
										//$('#stack1').modal('show');
									}
								
					};
					function test(a, url, msg, optId, idEdit) {
						$.ajax({
							type : "post",
							url : url,
							data : "inputValue=" + a,
							success : function(data) {
							}
						}).done(
								function(data) {
									if (data != 0) {
										$(optId).append(
												'<option value="' + data + '" selected="selected">'
														+ a + '</option>');
										$(idEdit).append(
												'<option value="' + data + '" selected="selected">'
														+ a + '</option>');
										swal("Added!", msg + "Name Added!", "success");

									} else {
										swal("Oops", msg + " Creation Failed", "error");
									}
								}).error(function(data) {
							swal("Oops", "We couldn't connect to the server!", "error");
						});
					};
			</script>
				<script>
		$(document).ready(function() {
			$('#customerListTable').dataTable();
			
		});
	</script>
<script type="text/javascript"> 
	 var specialKeys = new Array();
     specialKeys.push(8); //Backspace
     function onlyNumeric(e) {
         var keyCode = e.which ? e.which : e.keyCode
         var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);        
         return ret;
     }
     
     jQuery(function($){
    	  // $("#date").mask("99/99/9999",{placeholder:"mm/dd/yyyy"});
    	   //$("#ntn").mask("(999) 999-9999");
    	   //$("#gstno").mask("99-9999999");
    	   //$("#ssn").mask("999-99-9999");
    	   
    	   $("#cnic").mask("99999-999999-9");

     });
     
</script>
	   
</body>
</html>
