<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org"/>
<html>
	<head th:replace="header :: header">
	</head>
    <body class="fixed-left">
		<!-- Begin page -->
		<div id="wrapper">
<div class="topbar" th:replace="header :: topbar"></div>
				 <div class="left side-menu" th:replace="header :: navigation"></div>
			<!-- ============================================================== -->
			<!-- Start right Content here -->
			<!-- ============================================================== -->
			<div class="content-page">
				<!-- Start content -->
				<div class="content">
					<div class="container">

						<!-- Page-Title -->
						<div class="row">
							<div class="col-sm-12">
								<h4 class="page-title">Order Form</h4>
								<ol class="breadcrumb">
									<li>
										<a href="#"></a>
									</li>
									<li>
										<a href="#"></a>
									</li>
									<li class="active">
										Datatable
									</li>
								</ol>
							</div>
						</div>
<div class="checkout-wrap container">
	<ul class="checkout-bar row">
		<li class="visited first col-md-6"><p class="lead">View Order</p></li>
		<li class="active col-md-6"><p class="lead">Edit Order</p></li>
		<li class="col-md-6"><p class="lead">Forward To Warehouse</p></li>
  </ul>
</div>
                        
<form>
                        <div class="row">
                            <div class="col-sm-12 pad">
                                <div class="card-box slimScrollDiv">
								<h1 style="text-align:center;">Order Form</h1>
								
								<div id="table" class="table-editable">
                                                                       <table id="datatable-editable" class="table table-bordered tg table-hover">
<tr>
    <th class="tg-9hbo" colspan="2" style="border-top-left-radius: 20px;">Order No. <span class="fonbold" >A097720</span></th>
    <th class="tg-9hbo" colspan="10" rowspan="2">Customer Name &amp; Address: <span class="fonbold" >Aftab Shah -- City Mega Mart FSD</span></th>
    <th class="tg-9hbo" style="border-top-right-radius: 20px;">Date: <span class="fonbold" >03 - 02 - 16</span></th>
  </tr>
  <tr>	
    <th class="tg-9hbo" colspan="2">Customer No:<span class="fonbold" >4901</span></th>
    <th class="tg-9hbo">Order Received on:<span class="fonbold" ></span> </th>
  </tr>
  <tr>
    <th class="tg-9hbo" colspan="2">Transport: <span class="fonbold" >TCS</th>
    <th class="tg-9hbo" colspan="10">Remarks:<span> Delievery by Monday please</span></th>
    <th class="tg-bobw" rowspan="4">Total</th>
  </tr>
  <tr>
    <th class="tg-bobw" rowspan="3">Article</th>
    <th class="tg-bobw" rowspan="3">Colour</th>
    <th class="tg-bobw small" rowspan="3">Cup</th>
    <th class="tg-amwm" colspan="9">Size</th>
  </tr>
  <tr>
    <td class="tg-amwm" colspan="2">S</td>
    <td class="tg-amwm" colspan="2">M</td>
    <td class="tg-amwm" colspan="2">L</td>
    <td class="tg-amwm" colspan="3">XL</td>
  </tr>
  <tr>
    <td class="tg-yw4l">30/65</td>
    <td class="tg-yw4l">32/70</td>
    <td class="tg-yw4l">34/75</td>
    <td class="tg-yw4l">36/80</td>
    <td class="tg-yw4l">38/85</td>
    <td class="tg-yw4l">40/90</td>
    <td class="tg-yw4l">42/95</td>
    <td class="tg-yw4l">44/100</td>
    <td class="tg-yw4l">46/105</td>
  </tr>
   <tr>
	<td  id="article1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20" value="Comfort15"></td>
    <td  id="color1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20" value="BLK"></td>
    <td  id="cup1" class="tg-yw4l select"><input class="inpedit" type="text" maxlength="4" value="C"></td>
    <td  contenteditable="true"11" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3" Value="12"></td>
    <td  contenteditable="true"21" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3" Value="12"></td>
    <td  contenteditable="true"31" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3" Value="12"></td>
    <td  contenteditable="true"41" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3" Value="12"></td>
    <td  contenteditable="true"51" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3" Value="12"></td>
    <td  contenteditable="true"61" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3" Value="12"></td>
    <td  contenteditable="true"71" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3" Value="12"></td>
    <td  contenteditable="true"81" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3" Value="12"></td>
    <td  contenteditable="true"91" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3" Value="12"></td>
    <td id="total1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3" Value="12"><span class="table-remove glyphicon glyphicon-remove buttons-remove"></span></td>
  </tr>
     <tr>
	<td  id="article1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="color1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="cup1" class="tg-yw4l select"><input class="inpedit" type="text" maxlength="4"></td>
    <td  contenteditable="true"11" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"21" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"31" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"41" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"51" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"61" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"71" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"81" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"91" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td id="total1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"><span class="table-remove glyphicon glyphicon-remove buttons-remove"></span></td>
  </tr>
     <tr>
	<td  id="article1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="color1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="cup1" class="tg-yw4l select"><input class="inpedit" type="text" maxlength="4"></td>
    <td  contenteditable="true"11" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"21" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"31" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"41" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"51" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"61" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"71" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"81" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"91" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td id="total1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"><span class="table-remove glyphicon glyphicon-remove buttons-remove"></span></td>
  </tr>
     <tr>
	<td  id="article1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="color1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="cup1" class="tg-yw4l select"><input class="inpedit" type="text" maxlength="4"></td>
    <td  contenteditable="true"11" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"21" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"31" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"41" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"51" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"61" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"71" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"81" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"91" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td id="total1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"><span class="table-remove glyphicon glyphicon-remove buttons-remove"></span></td>
  </tr>
     <tr>
	<td  id="article1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="color1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="cup1" class="tg-yw4l select"><input class="inpedit" type="text" maxlength="4"></td>
    <td  contenteditable="true"11" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"21" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"31" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"41" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"51" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"61" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"71" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"81" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"91" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td id="total1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"><span class="table-remove glyphicon glyphicon-remove buttons-remove"></span></td>
  </tr>
     <tr>
	<td  id="article1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="color1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="cup1" class="tg-yw4l select"><input class="inpedit" type="text" maxlength="4"></td>
    <td  contenteditable="true"11" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"21" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"31" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"41" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"51" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"61" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"71" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"81" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"91" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td id="total1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"><span class="table-remove glyphicon glyphicon-remove buttons-remove"></span></td>
  </tr>
     <tr>
	<td  id="article1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="color1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="cup1" class="tg-yw4l select"><input class="inpedit" type="text" maxlength="4"></td>
    <td  contenteditable="true"11" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"21" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"31" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"41" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"51" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"61" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"71" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"81" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"91" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td id="total1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"><span class="table-remove glyphicon glyphicon-remove buttons-remove"></span></td>
  </tr>
     <tr>
	<td  id="article1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="color1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="cup1" class="tg-yw4l select"><input class="inpedit" type="text" maxlength="4"></td>
    <td  contenteditable="true"11" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"21" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"31" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"41" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"51" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"61" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"71" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"81" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"91" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td id="total1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"><span class="table-remove glyphicon glyphicon-remove buttons-remove"></span></td>
  </tr>
     <tr>
	<td  id="article1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="color1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="cup1" class="tg-yw4l select"><input class="inpedit" type="text" maxlength="4"></td>
    <td  contenteditable="true"11" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"21" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"31" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"41" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"51" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"61" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"71" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"81" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"91" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td id="total1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"><span class="table-remove glyphicon glyphicon-remove buttons-remove"></span></td>
  </tr>
     <tr>
	<td  id="article1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="color1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="cup1" class="tg-yw4l select"><input class="inpedit" type="text" maxlength="4"></td>
    <td  contenteditable="true"11" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"21" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"31" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"41" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"51" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"61" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"71" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"81" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"91" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td id="total1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"><span class="table-remove glyphicon glyphicon-remove buttons-remove"></span></td>
  </tr>
     <tr>
	<td  id="article1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="color1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="cup1" class="tg-yw4l select"><input class="inpedit" type="text" maxlength="4"></td>
    <td  contenteditable="true"11" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"21" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"31" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"41" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"51" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"61" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"71" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"81" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"91" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td id="total1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"><span class="table-remove glyphicon glyphicon-remove buttons-remove"></span></td>
  </tr>
     <tr>
	<td  id="article1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="color1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="cup1" class="tg-yw4l select"><input class="inpedit" type="text" maxlength="4"></td>
    <td  contenteditable="true"11" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"21" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"31" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"41" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"51" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"61" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"71" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"81" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"91" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td id="total1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"><span class="table-remove glyphicon glyphicon-remove buttons-remove"></span></td>
  </tr>
     <tr>
	<td  id="article1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="color1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="cup1" class="tg-yw4l select"><input class="inpedit" type="text" maxlength="4"></td>
    <td  contenteditable="true"11" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"21" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"31" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"41" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"51" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"61" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"71" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"81" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"91" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td id="total1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"><span class="table-remove glyphicon glyphicon-remove buttons-remove"></span></td>
  </tr>
     <tr>
	<td  id="article1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="color1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="cup1" class="tg-yw4l select"><input class="inpedit" type="text" maxlength="4"></td>
    <td  contenteditable="true"11" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"21" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"31" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"41" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"51" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"61" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"71" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"81" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"91" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td id="total1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"><span class="table-remove glyphicon glyphicon-remove buttons-remove"></span></td>
  </tr>
     <tr>
	<td  id="article1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="color1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="cup1" class="tg-yw4l select"><input class="inpedit" type="text" maxlength="4"></td>
    <td  contenteditable="true"11" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"21" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"31" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"41" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"51" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"61" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"71" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"81" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"91" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td id="total1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"><span class="table-remove glyphicon glyphicon-remove buttons-remove"></span></td>
  </tr>
     <tr>
	<td  id="article1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="color1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="cup1" class="tg-yw4l select"><input class="inpedit" type="text" maxlength="4"></td>
    <td  contenteditable="true"11" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"21" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"31" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"41" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"51" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"61" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"71" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"81" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"91" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td id="total1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"><span class="table-remove glyphicon glyphicon-remove buttons-remove"></span></td>
  </tr>
     <tr>
	<td  id="article1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="color1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="cup1" class="tg-yw4l select"><input class="inpedit" type="text" maxlength="4"></td>
    <td  contenteditable="true"11" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"21" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"31" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"41" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"51" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"61" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"71" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"81" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"91" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td id="total1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"><span class="table-remove glyphicon glyphicon-remove buttons-remove"></span></td>
  </tr>
     <tr>
	<td  id="article1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="color1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="20"></td>
    <td  id="cup1" class="tg-yw4l select"><input class="inpedit" type="text" maxlength="4"></td>
    <td  contenteditable="true"11" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"21" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"31" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"41" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"51" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"61" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"71" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"81" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td  contenteditable="true"91" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"></td>
    <td id="total1" class="tg-yw4l"><input class="inpedit" type="text" maxlength="3"><span class="table-remove glyphicon glyphicon-remove buttons-remove"></span></td>
  </tr>
    
  <tr class="hide">
        <td  contenteditable="true"12" id="article2" class="tg-yw4l"> <select id="tdproductname" name="productnameselect" class="form-control select2 dropdown-toggle btn-custom2">
														<option value="A">Select Product Name</option>
                                                                <option value="A">Amoreena</option>
                                                                <option value="B">Basic Deluxe</option>
                                                                <option value="C">Comfort 15</option>
                                                                <option value="D">Karisma N</option>
                                                                <option value="E">Lovina 009</option>
                                                                <option value="F">Vision</option>
                                                                <option value="YEAR">X-Over</option>																
                                                        </select></td>
    <td  contenteditable="true"12" id="color2" class="tg-yw4l"><select id="tdcolor" class="form-control select2 dropdown-toggle btn-custom2">
														<option value="A">Select Color</option>
                                                                <option value="A">BLK</option>
                                                                <option value="B">SKN</option>
                                                                <option value="C">WHT</option>
                                                                <option value="D">PNK</option>
                                                                <option value="E">MRN</option>
                                                                <option value="F">RED</option>
                                                                <option value="YEAR">SPK</option>																
                                                        </select></td>
    <td  contenteditable="true"12" id="cup2" class="tg-yw4l select"><select id="tdcup" class="form-control select2 dropdown-toggle btn-custom2">
														<option value="A">Select Cup</option>
                                                                <option value="A">A</option>
																 <option value="A">AA</option>
																  <option value="A">MA</option>
                                                                <option value="B">B</option>
																 <option value="A">MB</option>
                                                                <option value="C">C</option>
																 <option value="A">MC</option>
                                                                <option value="D">D</option>
                                                                <option value="E">E</option>
                                                                <option value="F">F</option>
																<option value="F">G</option>
																<option value="F">H</option>
                                                                
                                                        </select></td>
    <td  contenteditable="true"12" class="tg-yw4l sum"></td>
    <td  contenteditable="true"22" class="tg-yw4l sum"></td>
    <td  contenteditable="true"32" class="tg-yw4l sum"></td>
    <td  contenteditable="true"42" class="tg-yw4l sum"></td>
    <td  contenteditable="true"52" class="tg-yw4l sum"></td>
    <td  contenteditable="true"62" class="tg-yw4l sum"></td>
    <td  contenteditable="true"72" class="tg-yw4l sum"></td>
    <td  contenteditable="true"82" class="tg-yw4l sum"></td>
    <td  contenteditable="true"92" class="tg-yw4l sum"></td>
    <td id="total2" class="tg-yw4l summary"><span class="table-remove glyphicon glyphicon-remove buttons-remove"></span></td>
      </tr>
				
				
 
											
                                        </table>
                                <!--         <span class="table-add label label-primary pull-right ion-plus"> Add</span> -->
								 </div>		
								 <div class="row concent">
								<div class="col-md-4"><button class="btn btn-4 btn-4b waves-effect icon-arrow-left span3" onclick="location.href='orderform1.html';">Back</button></div>
								<div class="col-md-4"><button  type="reset" class="btn btn-5 btn-5a waves-effect icon-remove" id="sa-warning"><span>Delete</span></button></div>
								<div class="col-md-4"><button  type="submit" class="btn btn-4 btn-4a waves-effect icon-arrow-right span3" onclick="location.href='success.html';">Forward</button></div>
								</div>
								 </div>
									
									
												
												
												
					
                             

                            </div>

                        </div>

							</form>
                    </div> <!-- container -->
                               
                </div> <!-- content -->
				
			  <div th:replace="footer :: copy"></div>

 <!--   Right Sidebar -->
            <div class="side-bar right-bar nicescroll" th:replace="footer :: rightbar"></div>
            <!-- /Right-bar -->
           
        </div>
        <!-- END wrapper -->
        
<div th:replace="footer :: script"></div>
		 <script type="text/javascript">
            $(document).ready(function() {
                $('#datatable-editable').dataTable();
                $('#datatable-editable').DataTable( { keys: true } );
                });
        </script>
    </body>
</html> </html>