<html xmlns:th="http://www.thymeleaf.org" />
<head th:fragment="header">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="shortcut icon" th:href="@{/images/favicon.png}" />

<title>SMS - International Foundation and garments</title>
<link th:href="@{/plugins/timepicker/bootstrap-timepicker.min.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/plugins/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css}"
	rel="stylesheet" type="text/css" />
<!-- <link
	th:href="@{/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}"
	rel="stylesheet" type="text/css" /> -->
<link th:href="@{/plugins/clockpicker/dist/jquery-clockpicker.min.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/plugins/switchery/dist/switchery.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{css/titatoggle-dist.css}" rel="stylesheet"
	type="text/css" />

<!--  <link th:href="@{//eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}" rel="stylesheet"
	type="text/css" />  -->

<link th:href="@{/css/animsition.min.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{/plugins/morris/morris.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{/plugins/sweetalert/dist/sweetalert.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/plugins/custombox/dist/custombox.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/plugins/c3/c3.min.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{/plugins/select2/select2.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{/css/vendors.min.cc72de2f21cf6e67f523.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/css/demo.min.a2f360834fafcc0ef2d1.css}"
	rel="stylesheet" type="text/css" />
<!-- DataTables -->
<link th:href="@{/plugins/datatables/jquery.dataTables.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{/css/core.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/swal-forms.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/components.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/icons.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/pages.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/responsive.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/editor.dataTables.min.css}" rel="stylesheet"
	type="text/css" />
<link
	th:href="@{/plugins/bootstrap-daterangepicker/daterangepicker.css}"
	rel="stylesheet" type="text/css" />
<link rel="shortcut icon" th:href="@{images/favicon.ico}" />
<!--<link rel="stylesheet" type="text/css" th:href="css/default.css}" />-->
<link rel="stylesheet" type="text/css" th:href="@{/css/component.css}" />
<script th:src="@{js/modernizr.custom.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
 <script th:src="@{/pages/jquery.maskedinput.js}" type="text/javascript"></script>

</head>


<body class="fixed-left">

	<!-- Begin page -->
	<div id="wrapper">

		<!-- Top Bar Start -->
		<div class="topbar" th:fragment="topbar">


			<!-- LOGO -->
			<div class="topbar-left">
				<div class="text-center">
					<a href="index.html" class="logo"><img
						th:src="@{/images/ifglogo2.png}" /></a>
				</div>
			</div>


			<!-- Button mobile view to collapse sidebar menu -->
			<div class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="">
						<div class="pull-left">
							<button class="button-menu-mobile open-left">
								<i class="ion-navicon maintopbuttonin maintopbuttonout"></i>
							</button>
							<span class="clearfix"></span>
						</div>

						<form role="search"
							class="navbar-left app-search pull-left hidden-xs"
							style="padding-top: 7px;">
							<input type="text" placeholder="Search..." class="form-control"
								style="background: #CCCCCC; color: #505458; width: 100%;">
							<a href="#" style="color: #505458; padding-top: 10px;"><i
								class="fa fa-search"></i></a>
						</form>


						<ul class="nav navbar-nav navbar-right pull-right hidden-sm">
							<!-- <li class="dropdown hidden-xs"><a href="#" data-target="#"
								class="dropdown-toggle waves-effect waves-light"
								data-toggle="dropdown" aria-expanded="true"> <i
									class="icon-bell"></i> <span
									class="badge badge-xs badge-danger">3</span>
							</a>
								<ul class="dropdown-menu dropdown-menu-lg">
									<li class="notifi-title"><span
										class="label label-default pull-right">New 3</span>Notification</li>
									<li class="list-group nicescroll notification-list">
										list item <a href="javascript:void(0);"
										class="list-group-item">
											<div class="media">
												<div class="pull-left p-r-10">
													<em class="fa fa-diamond fa-2x text-primary"></em>
												</div>
												<div class="media-body">
													<h5 class="media-heading">A new order has been placed
														A new order has been placed</h5>
													<p class="m-0">
														<small>There are new settings available</small>
													</p>
												</div>
											</div>
									</a> list item <a href="javascript:void(0);"
										class="list-group-item">
											<div class="media">
												<div class="pull-left p-r-10">
													<em class="fa fa-cog fa-2x text-custom"></em>
												</div>
												<div class="media-body">
													<h5 class="media-heading">New settings</h5>
													<p class="m-0">
														<small>There are new settings available</small>
													</p>
												</div>
											</div>
									</a> list item <a href="javascript:void(0);"
										class="list-group-item">
											<div class="media">
												<div class="pull-left p-r-10">
													<em class="fa fa-bell-o fa-2x text-danger"></em>
												</div>
												<div class="media-body">
													<h5 class="media-heading">Updates</h5>
													<p class="m-0">
														<small>There are <span
															class="text-primary font-600">2</span> new updates
															available
														</small>
													</p>
												</div>
											</div>
									</a> list item <a href="javascript:void(0);"
										class="list-group-item">
											<div class="media">
												<div class="pull-left p-r-10">
													<em class="fa fa-user-plus fa-2x text-info"></em>
												</div>
												<div class="media-body">
													<h5 class="media-heading">New user registered</h5>
													<p class="m-0">
														<small>You have 10 unread messages</small>
													</p>
												</div>
											</div>
									</a> list item <a href="javascript:void(0);"
										class="list-group-item">
											<div class="media">
												<div class="pull-left p-r-10">
													<em class="fa fa-diamond fa-2x text-primary"></em>
												</div>
												<div class="media-body">
													<h5 class="media-heading">A new order has been placed
														A new order has been placed</h5>
													<p class="m-0">
														<small>There are new settings available</small>
													</p>
												</div>
											</div>
									</a> list item <a href="javascript:void(0);"
										class="list-group-item">
											<div class="media">
												<div class="pull-left p-r-10">
													<em class="fa fa-cog fa-2x text-custom"></em>
												</div>
												<div class="media-body">
													<h5 class="media-heading">New settings</h5>
													<p class="m-0">
														<small>There are new settings available</small>
													</p>
												</div>
											</div>
									</a>
									</li>
									<li><a href="javascript:void(0);"
										class="list-group-item text-right"> <small
											class="font-600">See all notifications</small>
									</a></li>
								</ul></li> -->
							<li class="hidden-xs"><a href="#" id="btn-fullscreen"
								class="waves-effect waves-light"><i
									class="icon-size-fullscreen"></i></a></li>
							<!-- <li class="hidden-xs"><a href="#"
								class="right-bar-toggle waves-effect waves-light"><i
									class="icon-settings"></i></a></li> -->
							<li class="dropdown"><a style="padding-top: 9px;" href=""
								class="dropdown-toggle profile" data-toggle="dropdown"
								aria-expanded="true"><img
									th:src="@{/images/users/avatar-1.jpg}" alt="user-img"
									class="img-circle" /> </a>
								<ul class="dropdown-menu">
									<li><a href="javascript:void(0)"><i
											class="ti-user m-r-5"></i> User Name : <span
											sec:authentication="name">name</span></a></li>
									<li><a href="javascript:void(0)"><i
											class="ti-lock m-r-5"></i> Role:<span
											th:if="${#authorization.expression('hasRole(''ROLE_SALE_REP'')')}">
												SALES REP</span> <span
											th:if="${#authorization.expression('hasRole(''ROLE_SALE_MANAGER'')')}">
												SALES MANAGER</span> <span
											th:if="${#authorization.expression('hasRole(''ROLE_SMS_OWNER'')')}">
												SMS OWNER</span> <span
											th:if="${#authorization.expression('hasRole(''ROLE_WAREHOUSE_MANAGER'')')}">
												WAREHOUSE MANAGER</span> <span
											th:if="${#authorization.expression('hasRole(''ROLE_DATA_ENTRY'')')}">
												DATA ENTRY</span></a></li>
									<li><a href="javascript:void(0)"><i
											class="ti-user m-r-5"></i> Profile</a></li>
									<li><a href="/settings"><i class="ti-settings m-r-5"></i>
											Settings</a></li>
									<!-- 
											href="#resetmodal" data-animation="fadein" data-plugin="custommodal" data-overlayspeed="200" data-overlaycolor="#36404a" -->
									<li><a id="changePass"><i class="ti-lock m-r-5"></i>
											Change Password</a></li>
									<li><a href="/logout" th:href="@{/logout}"><i
											class="ti-power-off m-r-5"></i> Logout</a></li>

								</ul></li>
						</ul>
					</div>
					<!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<!-- Top Bar End -->


		<!-- ========== Left Sidebar Start ========== -->

		<div class="left side-menu" th:fragment="navigation">
			<div class="sidebar-inner slimscrollleft">
				<!--- Divider -->
				<div id="sidebar-menu">
					<ul id="cssmenu" style="background: #5A5A5A;">

						<li class="menu-title">Navigation</li>

						<li><a href="index.html" class="waves-effect animsition-link"><i
								class="ti-home"></i> <span>Home</span> </a></li>

						<li
							sec:authorize="hasAnyRole('ROLE_SMS_OWNER','ROLE_SALE_MANAGER','ROLE_WAREHOUSE_MANAGER')"><a
							href="orderlist.html" class="waves-effect animsition-link"><i
								class="ti-shopping-cart"></i><span
								class="label label-primary pull-right"></span><span>Orders</span>
						</a></li>



						<li
							sec:authorize="hasAnyRole('ROLE_SMS_OWNER','ROLE_SALE_MANAGER','ROLE_SALE_REP')"><a
							href="ordercreation.html" class="waves-effect animsition-link"><i
								class="ti-shopping-cart"></i>Place Order</a></li>

						<li
							sec:authorize="hasAnyRole('ROLE_SMS_OWNER','ROLE_SALE_MANAGER','ROLE_SALE_REP','ROLE_WAREHOUSE_MANAGER')"><a
							href="history.html" class="waves-effect animsition-link"><i
								class="ion-android-data "></i><span>History</span> </a></li>


						<li
							sec:authorize="hasAnyRole('ROLE_SMS_OWNER','ROLE_SALE_MANAGER','ROLE_SALE_REP','ROLE_WAREHOUSE_MANAGER')">
							<a href="invoiceList.html" class="waves-effect animsition-link"><i
								class="ti-files"></i> <span>Invoices</span> </a>

						</li>
						<li
							sec:authorize="hasAnyRole('ROLE_SMS_OWNER','ROLE_SALE_MANAGER','ROLE_SALE_REP','ROLE_WAREHOUSE_MANAGER')">
							<a href="returnNoteList.html"
							class="waves-effect animsition-link"><i class="ti-files"></i>
								<span>Return Note</span> </a>

						</li>


						<li sec:authorize="hasAnyRole('ROLE_SMS_OWNER','ROLE_SALE_MANAGER','ROLE_SALE_REP','ROLE_DATA_ENTRY','ROLE_WAREHOUSE_MANAGER')" class="has_sub"><a href="#" class="waves-effect b"><i
								class="ti-archive"></i> <span>Product</span> </a>
							<ul class="list-unstyled">
								<li><a class="waves-effect animsition-link" href="addpro"
									sec:authorize="hasAnyRole('ROLE_SMS_OWNER','ROLE_SALE_MANAGER','ROLE_DATA_ENTRY')">Add
										Product</a></li>
								<li
									><a
									class="waves-effect animsition-link" href="priceList.html">Product
										Price list</a></li>
							</ul></li>
						<li
							sec:authorize="hasAnyRole('ROLE_SMS_OWNER','ROLE_SALE_MANAGER','ROLE_SALE_REP','ROLE_DATA_ENTRY')"
							class="has_sub"><a href="#" class="waves-effect b"><i
								class="ti-archive"></i> <span>Customer</span> </a>

							<ul class="list-unstyled">

								<li
									sec:authorize="hasAnyRole('ROLE_SMS_OWNER','ROLE_SALE_MANAGER','ROLE_SALE_REP','ROLE_DATA_ENTRY')"><a
									class="waves-effect animsition-link" href="customerlist.html">Customer
										List</a></li>
								<li
									sec:authorize="hasAnyRole('ROLE_SMS_OWNER','ROLE_SALE_MANAGER')"><a
									class="waves-effect animsition-link"
									href="customerrequestlist.html">Requests List</a></li>
							</ul></li>
						<li
							sec:authorize="hasAnyRole('ROLE_SMS_OWNER','ROLE_SALE_MANAGER','ROLE_DATA_ENTRY')"><a
							href="manageuser.html" class="waves-effect animsition-link"><i
								class="ti-user"></i><span>Users</span></a></li>
						<li class="has_sub"
							sec:authorize="hasAnyRole('ROLE_SMS_OWNER','ROLE_SALE_MANAGER')"><a
							href="#" class="waves-effect b"><i class="ti-settings"></i> <span>Accounts</span>
						</a>

							<ul class="list-unstyled">

								<li><a class="waves-effect animsition-link"
									href="accounts.html">TAX Settings</a></li>
							</ul></li>
						<li
							sec:authorize="hasAnyRole('ROLE_SMS_OWNER','ROLE_SALE_MANAGER')"><a
							href="reports.html" class="waves-effect animsition-link"><i
								class="ti-pencil-alt"></i><span>Reports</span></a></li>
						<li><a href="help.html" class="waves-effect animsition-link"><i
								class="ti-help"></i><span>Help</span></a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>

		</div>
		<!-- Left Sidebar End -->
</body>
</html>