

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header">
<!-- Plugin Css-->
<link rel="stylesheet"
	href="assets/plugins/magnific-popup/dist/magnific-popup.css" />
<link rel="stylesheet"
	href="assets/plugins/jquery-datatables-editable/datatables.css" />
</head>
<body class="fixed-left">
	<!-- Begin page -->
	<div id="wrapper">
		<div class="topbar" th:replace="header :: topbar"></div>
		<div class="left side-menu" th:replace="header :: navigation"></div>
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div
					class="mdl-color--pink ml-header relative clear fadeInLeft animated"
					style="min-height: 195px; margin-left: -5px; margin-top: -20px;">
					<div class="p-20">
						<h1 class="mdl-color-text--white m-t-20 m-b-5 cen">User
							Management Panel</h1>
					</div>
				</div>
				<div class="ml-card-holder cards-top container"
					style="margin-top: -100px;">
					<div class="panel">
						<div class="panel-body">
							<h2 style="background-color:Green;     border-radius: 4px;" th:if="${f_msg} != null">
								<span style="color:white;" th:text="${f_msg}" id="suce"></span>
							</h2>
							<h2 style="background-color:Green;     border-radius: 4px;" th:if="${s_msg} != null">
								<span style="color:white;" th:text="${s_msg}"></span>
							</h2>
							<div class="row">
								<div class="col-sm-6">

									<div class="m-b-30">
										<button data-toggle="modal" onclick="loadModal()"
											class="btn btn-default waves-effect waves-light">
											Add User <i class="fa fa-plus"></i>
										</button>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="h5 m-0 cc-selector"
										style="color: #7A7979; float: right;">
										<span class="vertical-middle">Sort By:</span>
										<div class="btn-group vertical-middle" data-toggle="buttons">
											<label class="waves-effect waves-light drinkcard-uc salesrep"
												onclick="location.href='?role=ROLE_SALE_REP';"> <input
												type="radio" autocomplete="off" id="salesr"
												checked="checked"> Sales Rep
											</label> <label
												class="waves-effect waves-light drinkcard-uc dataentry"
												onclick="location.href='?role=ROLE_DATA_ENTRY';"> <input
												type="radio" autocomplete="off" id="dataent"
												checked="checked"> Data Entry
											</label> <label class="waves-effect waves-light drinkcard-uc manager"
												onclick="location.href='?role=ROLE_WAREHOUSE_MANAGER';">
												<input type="radio" autocomplete="off" id="salesr"
												checked="checked"> Warehouse Manager
											</label>
										</div>
									</div>
									<!-- 	<div class="h5 m-0" style="color: #7A7979; float: right;">
										<span class="vertical-middle">Sort By:</span>
										<div class="btn-group vertical-middle" data-toggle="buttons">
											<label
												class="btn btn-pink btn-custom waves-effect waves-light"
												onclick="location.href='manageuser?role=ROLE_SALE_REP';">
												<input type="radio" autocomplete="off"> Sales Rep
											</label> <label
												class="btn btn-pink btn-custom waves-effect waves-light"
												onclick="location.href='manageuser?role=ROLE_DATA_ENTRY';">
												<input type="radio" autocomplete="off"> Data Entry
											</label> <label
												class="btn btn-pink btn-custom waves-effect waves-light"
												onclick="location.href='?role=ROLE_WAREHOUSE_MANAGER';">
												<input type="radio" autocomplete="off"> Warehouse
												Manager
											</label>
										</div>
									</div> -->

									<!-- <div class="h5 m-0" style="color: #7A7979; float: right;">
										<span class="vertical-middle">Sort By:</span>
										<div class="btn-group vertical-middle" data-toggle="buttons">
											<label
												class="btn btn-pink btn-custom waves-effect waves-light active">
												<input type="radio" autocomplete="off" checked="">
												Sales Rep
											</label> <label
												class="btn btn-pink btn-custom waves-effect waves-light">
												<input type="radio" autocomplete="off"> Data Entry
											</label> <label
												class="btn btn-pink btn-custom waves-effect waves-light">
												<input type="radio" autocomplete="off"> Warehouse
												Manager
											</label>
										</div>
									</div> -->
								</div>
							</div>

							<div class="">
								<div class="row">
									<table class="table table-striped" id="userlist">
										<thead>
											<tr>
												<th>Name</th>
												<th>Email</th>
												<th>User Name</th>
												<th>User Role</th>
												<th>Status</th>
												<th>Actions</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="u : ${entity.userList}">

												<td th:text="${u.name}"></td>
												<td th:text="${u.email}"></td>
												<td th:text="${u.username}"></td>
												<td th:each="r : ${u.roles}"
													th:if="${r.name}==ROLE_SALE_REP">SALES REP</td>
												<td th:each="r : ${u.roles}"
													th:if="${r.name}==ROLE_WAREHOUSE_MANAGER">WAREHOUSE
													MANAGER</td>
												<td th:each="r : ${u.roles}"
													th:if="${r.name}==ROLE_DATA_ENTRY">DATA ENTRY</td>
												<td th:if="${u.enabled}==true"><span
													class="label label-success">Active</span></td>
												<td th:if="${u.enabled}==false"><span
													class="label label-danger">DeActive</span></td>
												<td class="actions"><a href="#"
													th:onclick="'javascript:setObject(\''+ ${u.id} +'\');'">
														<i class="fa fa-pencil"></i>
												</a> <a th:onclick="'javascript:setId(\''+ ${u.id} +'\');'"
													data-toggle="modal" href="#" data-target="#modalconfirm"
													data-overlaySpeed="600" data-overlayColor="#36404a"
													class=""><i class="fa fa-trash-o"
														style="font-size: 20px;"></i></a></td>

											</tr>


										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- end: page -->

					</div>
					<!-- end Panel -->

					<div id="tabs-modal" class="modal fade in col-sm-12" tabindex="-1"
						role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
						style="display: none; padding-right: 17px;">
						<div class="modal-dialog card-box" style="width: 75%;">
							<div class="panel panel-default panel-danger">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true"
									style="width: 40px; margin-top: -5px; margin-bottom: 0px;">
									<span>&times;</span><span class="sr-only">Close</span>
								</button>
								<div class="panel-heading">
									<h3 class="panel-title">Add New User</h3>
								</div>


								<div class="panel-body">
									<!-- <ul class="nav nav-pills m-b-30 col-sm-12" style="    padding-left: 10%;  padding-right: 10%;">
										<li class="active"><a aria-expanded="true" class="btn waves-effect waves-light" data-toggle="tab" href="#navpills-11" style="min-width: 150px;">Sales Rep</a></li>
										<li class=""><a aria-expanded="false" class="btn waves-effect waves-light" data-toggle="tab" href="#navpills-21" style="min-width: 150px;">Data Entry</a></li>
										<li class=""><a aria-expanded="false" class="btn waves-effect waves-light" data-toggle="tab" href="#navpills-31" style=" width: 330px; min-width: 150px;">Warehouse Manager</a></li>
									</ul> -->
									<ul class="nav nav-pills m-b-30" style="padding-left: 15%;">
										<li id="isActiveSale" class=""><a aria-expanded="true"
											class="btn waves-effect waves-light" data-toggle="tab"
											onclick="setSalRepRole()"
											style="border-radius: 110px; width: 70%; padding: 0px;"><img
												alt="profile-image" style="width: 100%;"
												src="images/salesrep.png"></a></li>
										<li id="isActiveData" class=""><a aria-expanded="false"
											class="btn waves-effect waves-light" data-toggle="tab"
											onclick="setDataEntryRole()"
											style="border-radius: 110px; width: 70%; padding: 0px;"><img
												alt="profile-image" style="width: 100%;"
												src="images/dataentry.png"></a></li>
										<li id="isActiveMan" class=""><a aria-expanded="false"
											class="btn waves-effect waves-light" data-toggle="tab"
											onclick="setManagerRole()"
											style="border-radius: 110px; width: 70%; padding: 0px;"><img
												alt="profile-image" class="" style="width: 100%;"
												src="images/warehouse.png"></a></li>
									</ul>
									<div class="tab-content br-n pn">

										<!-- ============================================================== -->
										<!--SalesRep Panel-->
										<!-- ============================================================== -->
										<div class="tab-pane active" id="navpills-1">
											<div class="row">
												<div class="col-sm-12 card-box">
													<div class="custom-modal-text text-left"
														th:replace="usermodals :: users"></div>
												</div>
											</div>
										</div>


										<!-- ============================================================== -->
										<!--Dataentry Panel-->
										<!-- ============================================================== -->




										<div class="tab-pane" id="navpills-2">
											<div class="row">
												<div class="col-sm-12 card-box">
													<div class="custom-modal-text text-left"
														th:replace="usermodals :: users"></div>
												</div>
											</div>
										</div>

										<!-- ============================================================== -->
										<!--WarehouseManager Panel-->
										<!-- ============================================================== -->

										<div class="tab-pane" id="navpills-3">
											<div class="row">
												<div class="col-sm-12 card-box">
													<div class="custom-modal-text text-left"
														th:replace="usermodals :: users"></div>
												</div>
											</div>
										</div>
										<!-- Panels Ends -->


									</div>
								</div>

							</div>
						</div>
					</div>

					<!-- Modal deleting starts -->
					<div id="modalconfirm" class="modal fade bs-example-modal-lg in"
						class="modal fade in col-sm-12" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true"
						style="display: none; padding-right: 17px; margin-top: 10%;">
						<div class="modal-dialog card-box">
							<div class="panel panel-default panel-danger">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true"
									style="width: 40px; margin-top: -5px; margin-bottom: 0px;">
									<span>&times;</span><span class="sr-only">Close</span>
								</button>
								<div class="panel-body">
									<form role="form" th:action="@{/deleteUser}" method="POST">
										<div class="form-group">
											<h2>Delete User Permanently?</h2>
										</div>
										<input type="hidden" id="userIdDelete" name="userIdDelete" />
										<div class="row cen">
											<button type="submit"
												class="btn btn-success btn-custom waves-effect waves-light">YES</button>
											<button type="button"
												class="btn btn-inverse btn-custom waves-effect waves-light"
												data-dismiss="modal" aria-hidden="true">NO</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal deleting ends -->

					<!-- Modal editing starts -->
					<!-- 			<div id="modaledit" class="modal fade in col-sm-12" tabindex="-1"
						role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
						style="display: none; padding-right: 17px;">
												<div class="card-box">
												<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true"
									style="width: 40px; margin-top: -5px; margin-bottom: 0px;">
									<span>&times;</span><span class="sr-only">Close</span>
								</button>
													
							<div class="panel panel-default panel-danger">
								
								
							</div>
						</div>
					</div> -->






					<div id="modaledit" class="modal fade in col-sm-12" tabindex="-1"
						role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
						style="display: none; padding-right: 17px;">
						<div class="modal-dialog card-box" style="width: 75%;">
							<div class="panel panel-default panel-danger">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true"
									style="width: 40px; margin-top: -5px; margin-bottom: 0px;">
									<span>&times;</span><span class="sr-only">Close</span>
								</button>
								<div class="panel-body">
									<div id="modelshow">
										<div class="modal-dialog card-box">
											<div class="panel panel-default panel-danger"></div>
										</div>
									</div>
								</div>



							</div>
						</div>
					</div>
					<!-- Modal editing ends -->

					<!-- ============================================================== -->
					<!-- End Right content here -->
					<!-- ============================================================== -->
					<div class="side-bar right-bar nicescroll"
						th:replace="footer :: rightbar"></div>
					<!-- /Right-bar -->

				</div>
			</div>
		</div>
	</div>
	<!-- END wrapper -->

	<div th:replace="footer :: script"></div>

	<div th:replace="footer :: copy"></div>
<!-- 	<script>
		$('#mainTable').editableTableWidget().numericInputExample().find(
				'td:first').focus();
	</script>
 -->	<script type="text/javascript">
		$(document).ready(function() {

			$('form').parsley();
			$('#userlist').dataTable();

		});
	</script>
	<script type="text/javascript">
		function setId(id) {
			$('#userIdDelete').val(id);
		}
		function setObject(id) {
			$.ajax({
				type : "get",
				url : "editUser",
				data : "userId=" + id,
				success : function(data) {
					$('#modelshow').html(data);
					$('#modaledit').modal('show');
				}
			}).done(function(data) {
				if (data != 0) {

				} else {
				}
			}).error(function(data) {
			});

		}
		function setSalRepRole() {
			$(location).attr('href', '#navpills-1');
			$('#userRoles').val('1');

		}

		function setDataEntryRole() {
			$(location).attr('href', '#navpills-2');
			$('#userRoles').val('2');

		}
		function setManagerRole() {
			$(location).attr('href', '#navpills-3');
			$('#userRoles').val('3');
		}

		function loadModal() {

			if (window.location.href.indexOf("?role=ROLE_SALE_REP") > -1) {
				$(location).attr('href', '#navpills-1');
				$('#userRoles').val('1');
				$('#enabled').val('1');
				$('#isActiveSale').addClass("active");
				$('#tabs-modal').modal('show');

			} else

			if (window.location.href.indexOf("?role=ROLE_DATA_ENTRY") > -1) {
				$(location).attr('href', '#navpills-2');
				$('#userRoles').val('2');
				$('#enabled').val('1');
				$('#isActiveData').addClass("active");
				$('#tabs-modal').modal('show');

			} else if (window.location.href
					.indexOf("?role=ROLE_WAREHOUSE_MANAGER") > -1) {
				$(location).attr('href', '#navpills-3');
				$('#userRoles').val('3');
				$('#enabled').val('1');
				$('#isActiveMan').addClass("active");
				$('#tabs-modal').modal('show');
			} else {

				$(location).attr('href', '#navpills-1');
				$('#userRoles').val('1');
				$('#isActiveSale').addClass("active");
				$('#enabled').val('1');
				$('#tabs-modal').modal('show');
			}

		}
	</script>
</body>
</html>

