

<div th:fragment="ordermodal">
	<form role="form" th:action="@{/editRequestDetail}" th:object="${orderEntity}"
		method="POST">
		<div class="modal-dialog modal-full">
			<div class="col-sm-12 pad">
				<div class="card-box slimScrollDiv">
					<h1 style="text-align: center;">Edit Order Request</h1>
					<div id="table" class="table-editable">
						<table id="ordercreation"
							class="table table-striped table-bordered tg dataTable no-footer">
							<input type="hidden" id="orderRequestId" th:field="*{orderRequestDetail.orderRequest.orderRequestId}">
							<input type="hidden" id="productId" th:field="*{orderRequestDetail.productName.productNameId}">
							<input type="hidden" id="colorId" th:field="*{orderRequestDetail.color.colorId}">
							<input type="hidden" id="cupId" th:field="*{orderRequestDetail.cup.cupId}">
							<tr>
								<th id="productName" class="tg-yw4l"
									style="border-top-left-radius: 20px;">Article</th>
								<th id="color" class="tg-yw4l">Color</th>
								<th id="cup" class="tg-yw4l">Cup</th>
								<th id="S30_65" class="tg-yw4l" style="">30/65</th>
								<th id="s32_70" class="tg-yw4l" style="">32/70</th>
								<th id="s34_75" class="tg-yw4l" style="">34/75</th>
								<th id="S36_80" class="tg-yw4l" style="">36/80</th>
								<th id="S38_85" class="tg-yw4l" style="">38/85</th>
								<th id="S40_90" class="tg-yw4l" style="">40/90</th>
								<th id="S42_95" class="tg-yw4l" style="">42/95</th>
								<th id="S44_100" class="tg-yw4l" style="">44/100</th>
								<th id="S36_105" class="tg-yw4l" style="">46/105</th>
								<th id="totQuantity" class="tg-yw4l" style="">Total
									Quantity</th>

							</tr>


							<tr>
								<td class="tg-yw4l" id="productNameId" style="max-width: 153px;"><select
									th:field="*{orderRequestDetail.productName.productNameId}"
									disabled
									class="form-control articleClass select2 dropdown-toggle btn-custom2">
										<option value="">Select</option>
										<option th:each="productNameList : ${productNameList}"
											th:value="${productNameList.productNameId}"
											th:text="${productNameList.name}"></option>
								</select></td>

								<td class="tg-yw4l" style="max-width: 110px;"><select
									class="form-control" id="colorNameId"
									th:field="*{orderRequestDetail.color.colorId}" disabled
									class="form-control colorClass select2 dropdown-toggle btn-custom2">
										<option value="">Select</option>
										<option th:each="colorList : ${colorList}"
											th:value="${colorList.colorId}" th:text="${colorList.name}"></option>

								</select></td>
								<td class="tg-yw4l select" style="max-width: 90px;"><select
									class="form-control" id="cupName"
									th:field="*{orderRequestDetail.cup.cupId}" disabled
									class="form-control cupClass select2 dropdown-toggle btn-custom2">
										<option value="">Select</option>
										<option th:each="cupList : ${cupList}"
											th:value="${cupList.cupId}" th:text="${cupList.name}"></option>
								</select></td>

								<td class="tg-yw4l" >
								<input style="max-width: 32px;" th:if="*{orderRequestDetail.s30_65==null}"
									id="add1" class="size 30 rowValue" disbaled
									th:field="*{orderRequestDetail.s30_65}" type="text"
									maxlength="3">
								<input style="max-width: 32px;" th:if="*{orderRequestDetail.s30_65!=null}"
									id="add1" class="size 30 rowValue" onkeyup="myFunc(this)"
									th:field="*{orderRequestDetail.s30_65}" type="text"
									maxlength="3">
									</td>
								<td class="tg-yw4l"><input style="max-width: 32px;" 
									id="add2abc" class="size 32 rowValue" th:if="*{orderRequestDetail.s32_70==null}"
									th:field="*{orderRequestDetail.s32_70}" type="text" disabled
									maxlength="3">
									<input style="max-width: 32px;" 
									id="add2" class="size 32 rowValue" th:if="*{orderRequestDetail.s32_70!=null}"
									th:field="*{orderRequestDetail.s32_70}" type="text" 
									maxlength="3">
									</td>
								<td class="tg-yw4l">
								<input style="max-width: 32px;"  th:if="*{orderRequestDetail.s34_75==null}"
									id="add3" class="size 34 rowValue" disabled
									th:field="*{orderRequestDetail.s34_75}" type="text"
									maxlength="3">
								<input style="max-width: 32px;" th:if="*{orderRequestDetail.s34_75!=null}"
									id="add3" class="size 34 rowValue"
									th:field="*{orderRequestDetail.s34_75}" type="text"
									maxlength="3">
								</td>
								<td class="tg-yw4l">
								<input style="max-width: 32px;" th:if="*{orderRequestDetail.s36_80!=null}"
									id="add3" class="size 34 rowValue"
									th:field="*{orderRequestDetail.s36_80}" type="text"
									maxlength="3">	
								<input style="max-width: 32px;" th:if="*{orderRequestDetail.s36_80==null}"
									id="add3" class="size 34 rowValue" disabled
									th:field="*{orderRequestDetail.s36_80}" type="text"
									maxlength="3">	
							
									</td>
								<td class="tg-yw4l">
								<input style="max-width: 32px;" th:if="*{orderRequestDetail.s38_85==null}"
									id="add5" class="size 38 rowValue" disabled
									th:field="*{orderRequestDetail.s38_85}" type="text"
									maxlength="3">
								<input style="max-width: 32px;" th:if="*{orderRequestDetail.s38_85!=null}"
									id="add5" class="size 38 rowValue"
									th:field="*{orderRequestDetail.s38_85}" type="text"
									maxlength="3">
									</td>
								<td class="tg-yw4l">
								<input style="max-width: 32px;"
									id="add6" class="size 40 rowValue" th:if="*{orderRequestDetail.s40_90!=null}"
									th:field="*{orderRequestDetail.s40_90}" type="text"
									maxlength="3">
								<input style="max-width: 32px;"
									id="add6" class="size 40 rowValue" th:if="*{orderRequestDetail.s40_90==null}"
									th:field="*{orderRequestDetail.s40_90}" type="text" disabled
									maxlength="3">
								</td>
								<td class="tg-yw4l">
								<input style="max-width: 32px;" th:if="*{orderRequestDetail.s42_95!=null}"
									id="add7" class="size 42 rowValue"
									th:field="*{orderRequestDetail.s42_95}" type="text"
									maxlength="3">
								<input style="max-width: 32px;"
									id="add7" class="size 42 rowValue" th:if="*{orderRequestDetail.s42_95==null}"
									th:field="*{orderRequestDetail.s42_95}" type="text" disabled
									maxlength="3">
									</td>
								<td class="tg-yw4l">
								<input style="max-width: 32px;" th:if="*{orderRequestDetail.s44_100!=null}"
									id="add8" class="size 44 rowValue"
									th:field="*{orderRequestDetail.s44_100}" type="text"
									maxlength="3">
								<input style="max-width: 32px;"
									id="add8" class="size 44 rowValue" th:if="*{orderRequestDetail.s44_100==null}" disabled
									th:field="*{orderRequestDetail.s44_100}" type="text"
									maxlength="3">
									</td>
								<td class="tg-yw4l">
								<input style="max-width: 32px;" th:if="*{orderRequestDetail.s46_105!=null}"
									id="add9" class="size 46 rowValue"
									th:field="*{orderRequestDetail.s46_105}" type="text"
									maxlength="3">
								<input style="max-width: 32px;" th:if="*{orderRequestDetail.s46_105==null}" disabled
									id="add9" class="size 46 rowValue"
									th:field="*{orderRequestDetail.s46_105}" type="text"
									maxlength="3">
								</td>
								<td id="totalValue" class="tg-yw4l totalValue" ><input
									type="text" id="total" class="total" disabled="disabled" onkeyup="mySum(this)"
									style="max-width: 45px;" id="totalQuantitySizes"
									th:field="*{orderRequestDetail.totalQuantity}">
									<input
									type="hidden" id="orderRequesDetailtId"  style="max-width: 45px;" 
									th:field="*{orderRequestDetail.orderRequestDetailId}"></td>
									</td>

							</tr>
						</table>

					</div>

					<div class="row concent">

						<div class="col-md-6">
							<button type="button" data-dismiss="modal"
								onclick="return false;"
								class="btn btn-4 btn-4b waves-effect icon-arrow-left span3">
								<span>Cancel</span>
							</button>
						</div>
						<div class="col-md-6">
							<button type="submit" id="export-btn1"
								class="btn btn-4 btn-4a waves-effect icon-arrow-right span3">
								<span>Save</span>
							</button>
						</div>
					</div>
				</div>







			</div>


		</div>
	</form>
	
	<script type="text/javascript">
//	var x;
	//function myFunc(element){
		//x = element.value;
	
//	} */
	
	$('#modaledit').on('show.bs.modal', function () {
		 $(".rowValue").on("keydown keyup", function() {
			sumAllSizes = 0;
			$(".rowValue").each(function() {
				sumAllSizes += +$(this).val();							
			});
			$(this).closest("tr").find(".total").val(sumAllSizes);


		}); 
	});

	 $(".30").change(	
			 function checkQuantity() {
				 //alert("Inside");
			var articleId = parseInt($(this).closest("tr").find(".articleClass").val());
			var colorId = parseInt($(this).closest("tr").find(".colorClass").val());
			var cupId = parseInt($(this).closest("tr").find(".cupClass").val());
			var sizeVal = parseInt($(this).closest("tr").find(".30").val());
			var sizeId = 1 ;
			
			
			if (articleId === "") {
				alert('Error');
				return false;
			} else {
				var url = "/checkQuantity";
				var msg = "Quantity";
				quantitycheck(this,articleId, url, msg, colorId,cupId,sizeId,sizeVal);
			}
		});
	 
	 $(".32").change(	
			 function checkQuantity() {
			var articleId = parseInt($(this).closest("tr").find(".articleClass").val());
			var colorId = parseInt($(this).closest("tr").find(".colorClass").val());
			var cupId = parseInt($(this).closest("tr").find(".cupClass").val());
			var sizeVal = parseInt($(this).closest("tr").find(".32").val());
			var sizeId = 2 ;
			
			if (articleId === "") {
				alert('Error');
				return false;
			} else {
				var url = "/checkQuantity";
				var msg = "Quantity";
				quantitycheck(this,articleId, url, msg, colorId,cupId,sizeId,sizeVal);
			}
		});

		 $(".34").change(	
			 function checkQuantity() {
			var articleId = parseInt($(this).closest("tr").find(".articleClass").val());
			var colorId = parseInt($(this).closest("tr").find(".colorClass").val());
			var cupId = parseInt($(this).closest("tr").find(".cupClass").val());
			var sizeVal = parseInt($(this).closest("tr").find(".34").val());
			var sizeId = 3 ;
			
			if (articleId === "") {
				alert('Error');
				return false;
			} else {
				var url = "/checkQuantity";
				var msg = "Quantity";
				quantitycheck(this,articleId, url, msg, colorId,cupId,sizeId,sizeVal);
			}
		});

		 $(".36").change(	
			 function checkQuantity() {
			var articleId = parseInt($(this).closest("tr").find(".articleClass").val());
			var colorId = parseInt($(this).closest("tr").find(".colorClass").val());
			var cupId = parseInt($(this).closest("tr").find(".cupClass").val());
			var sizeVal = parseInt($(this).closest("tr").find(".36").val());
			var sizeId = 4 ;
			
			if (articleId === "") {
				alert('Error');
				return false;
			} else {
				var url = "/checkQuantity";
				var msg = "Quantity";
				quantitycheck(this,articleId, url, msg, colorId,cupId,sizeId,sizeVal);
			}
		});

		 $(".38").change(	
			 function checkQuantity() {
			var articleId = parseInt($(this).closest("tr").find(".articleClass").val());
			var colorId = parseInt($(this).closest("tr").find(".colorClass").val());
			var cupId = parseInt($(this).closest("tr").find(".cupClass").val());
			var sizeVal = parseInt($(this).closest("tr").find(".38").val());
			var sizeId = 5 ;
			
			if (articleId === "") {
				alert('Error');
				return false;
			} else {
				var url = "/checkQuantity";
				var msg = "Quantity";
				quantitycheck(this,articleId, url, msg, colorId,cupId,sizeId,sizeVal);
			}
		});
		 
		 $(".40").change(	
				 function checkQuantity() {
				var articleId = parseInt($(this).closest("tr").find(".articleClass").val());
				var colorId = parseInt($(this).closest("tr").find(".colorClass").val());
				var cupId = parseInt($(this).closest("tr").find(".cupClass").val());
				var sizeVal = parseInt($(this).closest("tr").find(".40").val());
				var sizeId = 6 ;
				
				if (articleId === "") {
					alert('Error');
					return false;
				} else {
					var url = "/checkQuantity";
					var msg = "Quantity";
					quantitycheck(this,articleId, url, msg, colorId,cupId,sizeId,sizeVal);
				}
			});

		 $(".42").change(	
				 function checkQuantity() {
				var articleId = parseInt($(this).closest("tr").find(".articleClass").val());
				var colorId = parseInt($(this).closest("tr").find(".colorClass").val());
				var cupId = parseInt($(this).closest("tr").find(".cupClass").val());
				var sizeVal = parseInt($(this).closest("tr").find(".42").val());
				var sizeId = 7 ;
				
				if (articleId === "") {
					alert('Error');
					return false;
				} else {
					var url = "/checkQuantity";
					var msg = "Quantity";
					quantitycheck(this,articleId, url, msg, colorId,cupId,sizeId,sizeVal);
				}
			});
		 
		 $(".44").change(	
				 function checkQuantity() {
				var articleId = parseInt($(this).closest("tr").find(".articleClass").val());
				var colorId = parseInt($(this).closest("tr").find(".colorClass").val());
				var cupId = parseInt($(this).closest("tr").find(".cupClass").val());
				var sizeVal = parseInt($(this).closest("tr").find(".44").val());
				var sizeId = 8 ;
				
				if (articleId === "") {
					alert('Error');
					return false;
				} else {
					var url = "/checkQuantity";
					var msg = "Quantity";
					quantitycheck(this,articleId, url, msg, colorId,cupId,sizeId,sizeVal);
				}
			});
			 
		 $(".46").change(	
				 function checkQuantity() {
				var articleId = parseInt($(this).closest("tr").find(".articleClass").val());
				var colorId = parseInt($(this).closest("tr").find(".colorClass").val());
				var cupId = parseInt($(this).closest("tr").find(".cupClass").val());
				var sizeVal = parseInt($(this).closest("tr").find(".46").val());
				var sizeId = 9 ;
				
				if (articleId === "") {
					alert('Error');
					return false;
				} else {
					var url = "/checkQuantity";
					var msg = "Quantity";
					quantitycheck(this, articleId, url, msg, colorId,cupId,sizeId,sizeVal);
				}
			});
			 
	 
	 
	 function quantitycheck(tdSize, articleId, url, msg, colorId,cupId,sizeId,sizeVal) {

		 $.ajax({
				type : "post",
				url : url,
				data : {
					'inputValue' : articleId,
					'colorId' : colorId,
					'cupId' : cupId,
					'sizeId' : sizeId
					},
		 
				dataType : 'json',
				success : function(data) {
				}
			})
			.done(function(data) {
				$(tdSize).removeAttr('disabled');
				if (data != 0) {
					if(sizeVal>data){
						alert("limit exceeds");
						$(":submit").attr("disabled", true);
					}
					else
						$(":submit").attr("disabled", false)
					
			} else {alert("Does not exist");}})
			.error(function(data) {
						swal("Oops","We couldn't connect to the server!","error");});
		};

	 

	</script>
</div>

