<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header"></head>

<body class="fixed-left">
	<div id="wrapper">
		<div class="topbar" th:replace="header :: topbar"></div>
		<div class="left side-menu" th:replace="header :: navigation"></div>
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div
					class="mdl-color--pink ml-header relative clear fadeInLeft animated"
					style="min-height: 195px; margin-left: -5px; margin-top: -20px;">
					<div class="p-20">
						<h1 class="cen white">Price List</h1>
					</div>
				</div>
				<div class="ml-card-holder cards-top  container"
					style="margin-top: -100px;">

					<!-- Page-Title -->
					<!-- <div class="row">
						<div class="col-sm-12">
							<h4 class="page-title"></h4>
							<ol class="breadcrumb">
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li class="active">Datatable</li>
							</ol>
						</div>
					</div> -->


					<div class="panel panel-default panel-danger card-box">
						<div class="panel-body card-box">
							<ul class="nav nav-pills m-b-30" style="padding-left: 35%;">
								<li id="showIfgPro"><a aria-expanded="true"
									onclick="setProductView('1')"
									class="btn waves-effect waves-light ifgtriwdth"
									data-toggle="tab" href="#navpills-11">SMS</a></li>
								<li id="showTriPro"><a aria-expanded="false"
									class="btn waves-effect waves-light ifgtriwdth"
									data-toggle="tab" onclick="setProductView('2')">Triumph</a></li>
							</ul>
							<span sec:authorize="hasAnyRole('ROLE_SMS_OWNER','ROLE_SALE_MANAGER','ROLE_DATA_ENTRY')" class="table-add label label-primary pull-right ion-plus" style="margin-top: -40px !important;     position: static !important; ">
						<a href="addpro" style="color:#fff !important;">Add New Product</a></span>

							<!-- Notification Messages -->
							<p th:if="${f_msg} != null">
								<span style="color: #E81D62;" th:text="${f_msg}"></span>
							</p>
							<p th:if="${s_msg} != null">
								<span style="color: #17AD46;" th:text="${s_msg}"></span>
							</p>
							

							<div class="tab-content br-n pn">
								<div class="tab-pane" id="navpills-3">
									<div class="row">
										<table class="table table-striped" id="ifgprice">
											<thead>
												<tr>
													<th>Article</th>
													<th>Warehouse</th>
													<th>Quantity</th>
													<th>Color</th>
													<th>Cup</th>
													<th>Size</th>
													<th>Ex-Factory</th>
													<th>GST</th>
													<th>Total Price</th>
													<th>Market Retail Price</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="productPriceList  : ${productListIFG}">
													<td class="tg-yw4l" id="ifgPnm"
														th:text="${productPriceList.productName.name}">Article</td>
													<td class="tg-yw4l" id="ifgwareh"
														th:text="${productPriceList.warehouse.name}">Warehouse</td>
													<td class="tg-yw4l" id="ifgquantit"><input
														type="hidden" th:value="${productPriceList.productId}"
														class="ifghidden"><input style="width: 60px;"
														class="ifgOriginalQuantity"
														th:value="${productPriceList.quantity}" disabled />|<input
														style="width: 60px;" class="ifgAdditionalQuantity"
														maxlength="5" placeholder="new" /></td>
													<td class="tg-yw4l" id="ifgcol"
														th:text="${productPriceList.color.name}">Colors</td>
													<td class="tg-yw4l" id="ifgcup"
														th:text="${productPriceList.cup.name}">Cup</td>
													<td class="tg-yw4l" id="ifgsize"
														th:text="${productPriceList.size.productSize}">Size</td>
													<td class="tg-yw4l" id="ifgExf"
														th:text="${productPriceList.exFactory}">Ex-Factory</td>
													<td class="tg-yw4l" id="ifgGst"
														th:text="${productPriceList.gstRate}"> GST</td>
													<td class="tg-yw4l" id="ifgTP"
														th:text="${productPriceList.totalPrice}">Total Price</td>
													<td class="tg-yw4l" id="ifgMP"
														th:text="${productPriceList.marketRetailPrice}">Market
														Retail Price Rs.</td>
													<td class="actions"><a sec:authorize="hasAnyRole('ROLE_SMS_OWNER','ROLE_SALE_MANAGER','ROLE_DATA_ENTRY')"
														th:onclick="'javascript:getProductData(\''+ ${productPriceList.productId} +'\',\''+ ${productPriceList.brand.brandId} +'\');'"
														href="#" data-toggle="modal" data-target="#ifg-modal"
														data-overlaySpeed="600" data-overlayColor="#36404a"><i
															class="fa fa-pencil" style="font-size: 20px;"></i></a> | <a sec:authorize="hasAnyRole('ROLE_SMS_OWNER','ROLE_SALE_MANAGER','ROLE_DATA_ENTRY')"
														th:onclick="'javascript:setId(\''+ ${productPriceList.productId} +'\');'"
														data-toggle="modal" href="#" data-target="#modalconfirm"
														data-overlaySpeed="600" data-overlayColor="#36404a"
														class=""><i class="fa fa-trash-o"
															style="font-size: 20px;"></i></a></td>
												</tr>
											</tbody>
										</table>
									</div>

								</div>

								<!-- ============================================================== -->
								<!--Triumph Panel-->
								<!-- ============================================================== -->


								<div class="tab-pane" id="navpills-4">
									<div class="row">
										<table class="table table-striped" id="triprice">
											<thead>
												<tr>
													<th>Article</th>
													<th>Warehouse</th>
													<th>Quantity</th>
													<th>Color</th>
													<th>Cup</th>
													<th>Size</th>
													<th>Ex-Factory</th>
													<th>GST</th>
													<th>Total Price</th>
													<th>Market Retail Price</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="productPriceList  : ${productListTriumph}">
													<td class="tg-yw4l"
														th:text="${productPriceList.productName.name}">Article</td>
													<td class="tg-yw4l" id="ifgwareh"
														th:text="${productPriceList.warehouse.name}">Warehouse</td>
													<td class="tg-yw4l" id="ifgquantit"><input
														type="hidden" th:value="${productPriceList.productId}"
														class="trihidden"><input style="width: 60px;"
														class="triOriginalQuantity"
														th:value="${productPriceList.quantity}" disabled />|<input
														style="width: 60px;" class="triAdditionalQuantity"
														id="triQuantity" maxlength="5" placeholder="new" /></td>
													<td class="tg-yw4l"
														th:text="${productPriceList.color.name}">Colors</td>
													<td class="tg-yw4l" th:text="${productPriceList.cup.name}">Cup</td>
													<td class="tg-yw4l"
														th:text="${productPriceList.size.productSize}">Size</td>
													<td class="tg-yw4l" th:text="${productPriceList.exFactory}">Ex-Factory</td>
													<td class="tg-yw4l" th:text="${productPriceList.gstRate}">
														GST</td>
													<td class="tg-yw4l"
														th:text="${productPriceList.totalPrice}">Total Price</td>
													<td class="tg-yw4l"
														th:text="${productPriceList.marketRetailPrice}">Market
														Retail Price Rs.</td>
													<td class="actions"><a sec:authorize="hasAnyRole('ROLE_SMS_OWNER','ROLE_SALE_MANAGER','ROLE_DATA_ENTRY')"
														th:onclick="'javascript:getProductData(\''+ ${productPriceList.productId} +'\',\''+ ${productPriceList.brand.brandId} +'\');'"
														href="#" data-toggle="modal" data-target="#tri-modal"
														data-overlaySpeed="600" data-overlayColor="#36404a"><i
															class="fa fa-pencil" style="font-size: 20px;"></i></a> | <a sec:authorize="hasAnyRole('ROLE_SMS_OWNER','ROLE_SALE_MANAGER','ROLE_DATA_ENTRY')"
														th:onclick="'javascript:setId(\''+ ${productPriceList.productId} +'\');'"
														data-toggle="modal" href="#" data-target="#modalconfirm"
														data-overlaySpeed="600" data-overlayColor="#36404a"
														class=""><i class="fa fa-trash-o"
															style="font-size: 20px;"></i></a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>


			</div>
			<!-- container -->

		</div>
		<!-- content -->

		<!--  SMS Modal editing starts -->
		<div class="panel-body">
			<div id="ifg-modal" class="modal fade in col-sm-12" tabindex="-1"
				role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
				style="display: none; padding-right: 17px; color: black">
				<div class="modal-dialog card-box" style="width: 75%;">
					<div class="col-lg-12 card-box">
						<div class="panel panel-default panel-danger">
							<div class="panel-heading">
								<h3 class="panel-title">Edit Product</h3>
							</div>
							<!-- <div id="navpills-11" class="tab-pane" th:replace="addeditpro :: ifg"></div> -->
							<div id="modalifg1"></div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Modal editing ends -->

		<!-- Triumph Modal editing starts -->
		<div class="panel-body">
			<div id="tri-modal" class="modal fade in col-sm-12" tabindex="-1"
				role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
				style="display: none; padding-right: 17px; color: black">
				<div class="modal-dialog card-box" style="width: 75%;">
					<div class="col-lg-12 card-box">
						<div class="panel panel-default panel-danger">
							<div class="panel-heading">
								<h3 class="panel-title">Edit Product</h3>
							</div>
							<!-- <div id="navpills-21" class="tab-pane" th:replace="addeditpro :: triumph"></div> -->
							<div id="modaltri1"></div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Modal editing ends -->


		<!-- Modal delete starts -->
		<div id="modalconfirm" class="modal fade bs-example-modal-lg in"
			class="modal fade in col-sm-12" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true"
			style="display: none; padding-right: 17px; margin-top: 10%;">
			<div class="modal-dialog card-box">
				<div class="panel panel-default panel-danger">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true"
						style="width: 40px; margin-top: -5px; margin-bottom: 0px;">
						<span>&times;</span><span class="sr-only">Close</span>
					</button>
					<div class="panel-body">
						<form role="form" id="formifg" th:action="@{/deleteProduct}"
							th:object="${entity}" method="POST">
							<div class="form-group">
								<h2>Delete Product Permanently?</h2>
							</div>
							<input type="hidden" th:field="*{product.productId}" id="pId" />
							<div class="row cen">
								<button type="submit"
									class="btn btn-success btn-custom waves-effect waves-light">YES</button>
								<button type="submit"
									class="btn btn-inverse btn-custom waves-effect waves-light"
									data-dismiss="modal" aria-hidden="true">NO</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal delete ends -->

		<div th:replace="footer :: copy"></div>
		<!--   Right Sidebar -->
		<div class="side-bar right-bar nicescroll"
			th:replace="footer :: rightbar"></div>
		<!-- /Right-bar -->

	</div>
	<!-- END wrapper -->

	<div th:replace="footer :: script"></div>
	<script th:src="@{/js/addnewpro.js}"></script>
	<script>
		$(".ifgAdditionalQuantity").change(
				function() {
					var quantityNew = parseInt($(this).closest("tr").find(
							".ifgAdditionalQuantity").val());
					var quantityNewId = $(this).closest("tr").find(
							".ifgAdditionalQuantity");
					var quantity = parseInt($(this).closest("tr").find(
							".ifgOriginalQuantity").val());
					var id = parseInt($(this).closest("tr").find(".ifghidden")
							.val());
					var total = quantityNew + quantity;
					var totalId = $(this).closest("tr").find(
							".ifgOriginalQuantity");

					if (quantityNew != "" && quantityNew != null
							&& quantity != "" && quantity != null) {
						
						swal({
							  title: "Adding Quantity",
							  text: "Submit to add new quantity.",
							  type: "info",
							  showCancelButton: true,
							  closeOnConfirm: false,
							  showLoaderOnConfirm: true,
							},
							function(){
								$.ajax({
									type : "post",
									url : "/updateProductQuantity",
									data : "pId=" + id + "&quantity=" + total,
									success : function(data) {
									}
								}).done(function(data) {
									if (data != 0) {
										totalId.val(total);
										quantityNewId.val('');
									} else {
										alert("error");
									}
								}).error(function(data) {
									alert("error");
								});
								
							  setTimeout(function(){
							    swal("Request finished!");
							  }, 2000);
							});
						
					

					}
				});
		$(".triAdditionalQuantity").change(
				function() {
					var quantityNew = parseInt($(this).closest("tr").find(
							".triAdditionalQuantity").val());
					var quantityNewId = $(this).closest("tr").find(
							".triAdditionalQuantity").val();
					var quantity = parseInt($(this).closest("tr").find(
							".triOriginalQuantity").val());
					var id = parseInt($(this).closest("tr").find(".trihidden")
							.val());
					var total = quantityNew + quantity;
					var totalId = $(this).closest("tr").find(
							".triOriginalQuantity");

					if (quantityNew != "" && quantityNew != null
							&& quantity != "" && quantity != null) {

						
						swal({
							  title: "Adding Quantity",
							  text: "Submit to add new quantity.",
							  type: "info",
							  showCancelButton: true,
							  closeOnConfirm: false,
							  showLoaderOnConfirm: true,
							},
							function(){
								$.ajax({
									type : "post",
									url : "/updateProductQuantity",
									data : "pId=" + id + "&quantity=" + total,
									success : function(data) {
									}
								}).done(function(data) {
									if (data != 0) {
										totalId.val(total);
										quantityNewId.val('');
									} else {
										alert("error");
									}
								}).error(function(data) {
									alert("error");
								});
								
							  setTimeout(function(){
							    swal("Request finished!");
							  }, 2000);
							});
						

					}
				});

		//getting data for Product Edit
		function upDateQuantity(id, quantity) {
			$.ajax({
				type : "post",
				url : "/updateProductQuantity",
				data : "pId=" + id + "quantity" + quantity,
				success : function(data) {
				}
			}).done(function(data) {
				if (data != 0) {
					return data;
				}
			}).error(function(data) {
				alert("error");
			});
		};
	</script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#ifgprice, #triprice').dataTable();
		});
		$('#clear-formTRI').on(
				'click',
				function() {
					$('#formtri').find(
							'input:text, input:password, select, textarea')
							.val('');
				});

		$('#clear-formIFG').on(
				'click',
				function() {
					$('#formifg').find(
							'input:text, input:password, select, textarea')
							.val('');
				});
	</script>


	<script type="text/javascript">
		//setting Product id for Product Delete
		function setId(id) {
			document.getElementById("pId").value = id;
		}
		//getting data for Product Edit
		function getProductData(id, brand) {
			$.ajax({
				type : "post",
				url : "/getProductById",
				data : {
					'inputValue' : id,
					'brand' : brand
				},
				success : function(data) {
				}
			}).done(function(data) {
				if (data != 0) {
					if (brand == 1) {
						$('#modalifg1').html(data);
						$('#ifg-modal').modal('show');
					} else if (brand == 2) {
						$('#modaltri1').html(data);
						$('#tri-modal').modal('show');
					}

				} else {
					alert("error");
				}
			}).error(function(data) {
				alert("error");
			});
		};
	</script>


	<script th:inline="javascript">
		/*<![CDATA[*/
window.onload = function() {
	var brand= [[${brand}]];		
	if(brand==1){
		$(location).attr('href', '#navpills-11');
		$('#showTriPro').removeClass("active");
		$('#showIfgPro').addClass("active");
		$('#navpills-4').removeClass("active");
		$('#navpills-3').addClass("active");
		

	}else
	if(brand==2){
		$(location).attr('href', '#navpills-21');
		$('#showIfgPro').removeClass("active");
		$('#showTriPro').addClass("active");
		$('#navpills-3').removeClass("active");
		$('#navpills-4').addClass("active");
	}else{
		$(location).attr('href', '#navpills-11');
		$('#showTriPro').removeClass("active");
		$('#showIfgPro').addClass("active");
		$('#navpills-4').removeClass("active");
		$('#navpills-3').addClass("active");
		
	}
		}
		
		
function setProductView(brand) {
	
	if(brand==1){
		
		$(location).attr('href', '#navpills-11');
		$('#showTriPro').removeClass("active");
		$('#showIfgPro').addClass("active");
		$('#navpills-4').removeClass("active");
		$('#navpills-3').addClass("tab-pane active");
		
	}else
	if(brand==2){

		$(location).attr('href', '#navpills-21');
		$('#showIfgPro').removeClass("active");
		$('#showTriPro').addClass("active");
		$('#navpills-3').removeClass("active");
		$('#navpills-4').addClass("active");
	}
	}

		
		
		/*]]>*/
		</script>

</body>
</html>