
<div class="row ">
	<div class="col-md-12 card-box">
		<br />
		<table id="productCategoryReport"
			class="table table-striped m-b-0 table-hover toggle-circle default footable-loaded footable">
			<thead>
				<tr>
					<th>Date</th>
					<th>Customer Name & Code</th>
					<th>Sales Rep Name & Code</th>
					<th>Brand</th>
					<th>Category</th>
					<th>Total Sale</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="productCatList : ${productCatList}">
					<td th:text="${productCatList.date?:''}">date</td>
					<td th:text="${productCatList.customerName?:''}">customer name</td>
					<td th:text="${productCatList.saleRepName?:''}">sale Rep</td>
					<td th:text="${productCatList.brand?:''}">Brand</td>
					<td th:text="${productCatList.productCatName?:''}">category</td>
					<td th:text="${productCatList.totalAmount?:''}">amount</td>

				</tr>
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function() {
		var buttonCommon = {
			exportOptions : {
				format : {
					body : function(data, column, row) {
						// Strip $ from salary column to make it numeric
						return column === 5 ? data.replace(/[$,]/g, '') : data;
					}
				}
			}
		};

		$('#productCategoryReport').DataTable({
			dom : 'Bfrtip',
			buttons : [
						/*  $.extend( true, {}, buttonCommon, {
						     extend: 'copyHtml5'
						 } ), */
						$.extend(true, {}, buttonCommon, {
							extend : 'excelHtml5',
							  customize: function ( doc ) {
				                    doc.content.splice( 1, 0, {
				                        margin: [ 0, 0, 0, 12 ],
				                        alignment: 'center',
				                        text: 'Product Category Report For: ' + dateRangethree , fontSize: 10, 	                       
				                    } );
				                }
						}), $.extend(true, {}, buttonCommon, {
							extend : 'pdfHtml5',				 
				                customize: function ( doc ) {
				                    doc.content.splice( 1, 0, {
				                        margin: [ 0, 0, 0, 12 ],
				                        alignment: 'center',
				                        text: 'Product Category Report For: ' + dateRangethree , fontSize: 10, 	                       
				                    } );
				                }
						}) ],

		});
	});
</script>

