
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header">
<style type="text/css" media="print">
body {
	zoom: 75%;
	/*or whatever percentage you need, play around with this number*/
}
</style>
</head>


<body class="fixed-left">
	<div class="loader"
		style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background: url('/images/rolling.gif') 50% 50% no-repeat rgb(249, 249, 249);"></div>

	<div id="wrapper">
		<div class="topbar" th:replace="header :: topbar"></div>
		<div class="left side-menu" th:replace="header :: navigation"></div>
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<div class="content-page">
			<!-- Start content -->
			<div id="" class="content">
				<div
					class="mdl-color--pink ml-header relative clear fadeInLeft animated"
					style="min-height: 195px; margin-left: -5px; margin-top: -20px;">
					<div class="p-20">
						<h1 class="cen white">Return Note</h1>
					</div>
				</div>
				<div class="ml-card-holder cards-top  container"
					style="margin-top: -100px;">
					<select style="display: none" id="subTotal" name="subTotal"></select>
					<div class="row">
						<form id="returnNoteForm" th:action="@{/saveCustomerReturnNote}" role="form"
							method="POST" th:object="${entity}">
							<div class="col-md-12 fadeInUp animated card-box">
								<div class="panel panel-default">
									<!-- <div class="panel-heading">
                                        <h4>Invoice</h4>
                                    </div> -->
									<div id="printarea" class="panel-body">
										<div class="clearfix col-md-12">
											<div class="col-md-12">

												<span th:if="${returnNote.order.brand.brandId == 1}">
													<img style="width: 20%; float: left; min-width: 225px;"
													src="/images/ifgInvoice.png">
												</span> <span th:if="${returnNote.order.brand.brandId == 2}">
													<img style="width: 20%; float: left; min-width: 225px;"
													src="/images/triumphInvoice.png">
												</span>


											</div>
										</div>

										<hr>
										<div class="row">
											<div class="col-md-12">

												<div class="col-md-12" style="color: black;">
													<address style="float: left">
														<p>
															<strong>Return No.# </strong><span
																th:text="${returnNote.order.orderCode}"></span>
														</p>
														<strong>Order No: </strong><span
															th:text="${returnNote.order.orderCode}"></span><br>
														<strong>Customer Name: </strong><span
															th:text="${returnNote.order.customer.name}"></span><br>
														<strong>Customer No: </strong><span
															th:text="${returnNote.order.customer.code}"></span><br>
														<strong>Address: </strong><span
															th:text="${returnNote.order.customer.address}"></span>
														<!--  <span
														th:text="${returnNote.order.customer.city.name}"></span>  -->
														<br> <strong>Phone: </strong> <span
															th:text="${returnNote.order.customer.phone}"></span> <br>
														<strong>CNIC: </strong> <span
															th:text="${returnNote.order.customer.cnic}"></span>
													</address>
													<address style="float: right">
														<p>
															<strong>Sales Tax Reg. No. </strong><span
																th:text="${returnNote.order.customer.GSTNo}"></span>
														</p>
														<p>
															<strong>National Tax No. </strong><span
																th:text="${returnNote.order.customer.NTN}"></span>
														</p>

														<strong>Order Date: </strong><span
															th:text="${#dates.format(returnNote.order.orderDate, 'dd/MM/yyyy')}"></span><br>
														<strong>Invoice Date: </strong> <span
															th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></span>
														<!--  <span
														th:text="${returnNote.order.customer.city.name}"></span>  -->
														<br>

														<div class="m-t-10"
															th:switch="${returnNote.order.status.title}">
															<strong>Order Status: </strong> <span
																th:case="'Delivered'"> <span
																class="label label-warning">Returned</span>
															</span> <span th:case="'Rejected'"> <span
																class="label label-warning">Rejected</span>
															</span> <span th:case="'Returned'"> <span
																class="label label-warning">Returned</span>
															</span>
														</div>
													</address>
												</div>
											</div>
										</div>
										<!-- <div class="m-h-50"></div> -->

										<div class="col-md-12">
											<p style="color: black;">
												<strong>Note:</strong> Withholding of tax @4% at source (at
												the time of payment of our bills) is not applicable as per
												provisions of clause (a) of sub-section (5) of section 153
												of the Income Tax Ordinance, 2001 read with clause (47A) of
												Part-IV of the Second Schedule to the Income tax Ordinance,
												2001.
											</p>
										</div>
										<div style="display: none" class="col-md-12">
											<div>
												<table id="list22"
													class="table table-bordered tg table-hover">
													<thead>
														<tr>
															<th class="" colspan="2"
																style="border-top-left-radius: 20px; opacity: 0;"></th>
															<th class="" colspan="10"></th>
															<th class="tg-bobw" rowspan="4">Total</th>
															<th class="tg-bobw" rowspan="4">Price Per Piece</th>
															<th class="tg-bobw" rowspan="4"
																style="border-top-right-radius: 20px;">Amount</th>
														</tr>
														<tr>
															<th class="tg-bobw" rowspan="3"
																style="border-top-left-radius: 10px;">Article</th>
															<th class="tg-bobw" rowspan="3">Colour</th>
															<th class="tg-bobw small" rowspan="3">Cup</th>
															<th class="tg-amwm" colspan="9">Size</th>
														</tr>
														<tr>
															<td class="tg-amwm" colspan="2">S</td>
															<td class="tg-amwm" colspan="2">M</td>
															<td class="tg-amwm" colspan="2">L</td>
															<td class="tg-amwm" colspan="3">XL</td>
														</tr>
														<tr>
															<td class="tg-yw4l">65</td>
															<td class="tg-yw4l">70</td>
															<td class="tg-yw4l">75</td>
															<td class="tg-yw4l">80</td>
															<td class="tg-yw4l">85</td>
															<td class="tg-yw4l">90</td>
															<td class="tg-yw4l">95</td>
															<td class="tg-yw4l">100</td>
															<td class="tg-yw4l">105</td>
													</thead>
													<tbody>

														<tr th:each="list ,in: ${returnNote.orderDetailList}">



															<td class="tg-yw4l"><span id="productNameId"
																th:text="${list.productName.name}"></span></td>

															<td class="tg-yw4l"><span id="color"
																th:text="${list.color.name}"></span></td>

															<td class="tg-yw4l"><span id="cup"
																th:text="${list.cup.name}"></span></td>



															<td class="tg-yw4l"><span th:text="${list.s30_65}"></span></td>
															<td class="tg-yw4l"><span style="max-width: 60px;"
																th:text="${list.s32_70}" id="add2" class="size 32"
																type="text" maxlength="3" disabled="disabled"></span></td>
															<td class="tg-yw4l"><span style="max-width: 60px;"
																th:text="${list.s34_75}" id="add3" disabled="disabled"
																class="size 34" type="text" maxlength="3"></span></td>
															<td class="tg-yw4l"><span style="max-width: 60px;"
																th:text="${list.s36_80}" id="add4" class="size 36"
																type="text" maxlength="3" disabled="disabled"></span></td>
															<td class="tg-yw4l"><span style="max-width: 60px;"
																id="add5" class="size 38" type="text" maxlength="3"
																th:text="${list.s38_85}" disabled="disabled"></span></td>
															<td class="tg-yw4l"><span style="max-width: 60px;"
																id="add6" class="size 40" type="text" maxlength="3"
																th:text="${list.s40_90}" disabled="disabled"></span></td>
															<td class="tg-yw4l"><span style="max-width: 60px;"
																id="add7" class="size 42" type="text" maxlength="3"
																th:text="${list.s42_95}" disabled="disabled"></span></td>
															<td class="tg-yw4l"><span style="max-width: 60px;"
																id="add8" class="size 44" type="text" maxlength="3"
																th:text="${list.s44_100}" disabled="disabled"></span></td>
															<td class="tg-yw4l"><span style="max-width: 60px;"
																id="add9" class="size 46" type="text" maxlength="3"
																th:text="${list.s46_105}" disabled="disabled"></span></td>
															<td id="total1" class="tg-yw4l">
																<div th:if="${list.totalQuantity}!='0'">
																	<span type="text" th:text="${list.totalQuantity}"
																		class="total" disabled="disabled"
																		style="max-width: 85px" id="totalQuantity"></span>
																</div>
															</td>
															<td id="priceperp" class="size 46 tg-yw4l">
																<!-- <div th:if="${list.totalQuantity}!='0'">
																<div
																	th:with="result=${list.order.totalAmount / list.totalQuantity}">
																	<span th:text="${result}" type="text" class=""
																		disabled="disabled" id="">
																</div>
															</div> --> <span th:text="${list.exFactory}" type="text"
																class="" disabled="disabled" style="max-width: 85px"
																id=""></span>
															</td>

															<td id="Amount" th:with="amount=${list.totalAmount}"
																class="size 46 tg-yw4l"><span th:text="${amount}"
																style="max-width: 85px" disabled="disabled" type="text">


															</span> <script th:inline="javascript">

					   									var amount= [[${amount}]];
 	  							                        var select = document.getElementById("subTotal");
								                        var option = document.createElement('option');
						                           		option.text = option.value = amount;
						                            	select.add(option, 0);
																</script></td>

														</tr>
													</tbody>
												</table>

											</div>

											<table class="table-hover  has-success "
												style="float: right;">

												<tr>
													<th class="tg-lqy6 control-label">Total</th>
													<th class="tg-yw4l" colspan="2"><input
														id="totalAmount" th:field="*{totalAmount}" readonly="true"
														style="max-width: 140px;" type="text"
														class="form-control input-sm"></th>
												</tr>
												<tr>
													<td class="tg-lqy6">GST %</td>
													<td class="tg-yw4l"><input
														style="display: inline-block; max-width: 40px;"
														readonly="true" type="text" th:field="*{gstPercent}"
														id="gst" class="form-control input-sm"></td>
													<td class="tg-yw4l" colspan="2"><input
														style="max-width: 100px;" type="text"
														class="form-control input-sm" id="gstAmount"
														th:field="*{gstAmount}" readonly="true"></td>
												</tr>
												<tr id="addGstRow">
													<td class="tg-lqy6">Additional GST %</td>
													<td class="tg-yw4l"><input
														style="display: inline-block; max-width: 40px;"
														readonly="true" type="text" th:field="*{addGstPercent}"
														id="addGstPercent" class="form-control input-sm"></td>
													<td class="tg-yw4l" colspan="2"><input
														style="display: inline-block; max-width: 140px;"
														th:field="*{addGstAmount}" readonly="true" type="text"
														id="addGstAmount" class="form-control input-sm"></td>
												</tr>
												<tr>
													<td class="tg-lqy6">Discount %</td>
													<td class="tg-yw4l"><input type="text"
														style="max-width: 40px;" readonly="readonly" id="dstPerc"
														class="form-control input-sm"
														th:field="*{discountPercent}">
													<td class="tg-yw4l"><input
														th:field="*{discountAmount}" readonly="true"
														style="display: inline-block; max-width: 100px;"
														type="text" id="discountAmount"
														class="form-control input-sm"></td>

												</tr>
												<tr>
													<td class="tg-lqy6">W.H.T. %</td>
													<td class="tg-yw4l"><input type="text"
														style="max-width: 40px;" class="form-control input-sm"
														id="whtPercent" th:field="*{whtPercent}"></td>
													<td class="tg-yw4l" colspan="2"><input readonly="true"
														type="text" th:field="*{whtAmount}"
														style="max-width: 100px;" class="form-control input-sm"
														id="whtAmount"></td>
												</tr>
												<tr>
													<td class="tg-lqy6">Grand Total</td>
													<td class="tg-yw4l" colspan="2"><input readonly="true"
														type="text" style="max-width: 140px;"
														th:field="*{grandAmount}" class="form-control input-sm"
														id="grandAmount"></td>
												</tr>

											</table>
										</div>
										<br /> <input id="customer" type="hidden"
											th:field=*{customer.customerId} /> <input id="order"
											type="hidden" th:field=*{order.orderId} /> <input id="brand"
											type="hidden" th:field=*{order.brand.brandId} /> <input
											id="brandId" type="hidden" th:field=*{brand.brandId} />

									</div>
								</div>
								<hr>
								<div class="hidden-print">
									<div class="pull-right">
										<button
											class="btn btn-success w-sm btn-custom waves-effect waves-light"
											type="submit" value="Submit">Generate Return Note</button>
										<!-- <a id="mySelector" text="Print" onclick="printthis();"
											class="btn btn-inverse waves-effect waves-light button b1"><i
											class="fa fa-print"></i></a> -->

									</div>
								</div>
							</div>
						</form>
					</div>

				</div>
				<!-- container -->

			</div>
			<!-- content -->
			<div th:replace="footer :: copy"></div>
			<!--   Right Sidebar -->
			<div class="side-bar right-bar nicescroll"
				th:replace="footer :: rightbar"></div>
			<!-- /Right-bar -->

		</div>
		<div th:replace="footer :: script"></div>
		<!-- END wrapper -->
		<script th:inline="javascript">
	/* 	window.onload = function() { */
$(document).ready(function(){
					var ifgGst=[[${tax.listOfTaxes.ifgGstTax}]];	
            		var triGst=[[${tax.listOfTaxes.triGstTax}]];	               
	                var wht= [[${tax.listOfTaxes.wht}]];		               
	                var newvar = $('#addGst').attr('value', $('#addGst').val());	             
	                
	                var brandId= [[${returnNote.order.brand.brandId}]];	                
	                var customerId= [[${returnNote.order.customer.customerId}]];	
	                var orderId= [[${returnNote.order.orderId}]];
	                $('#customer').val(customerId);
	                $('#order').val(orderId);
	                $('#brand').val(brandId);
	                var ntn= [[${returnNote.order.customer.NTN}]];	               
	                var ntnType=ntn.includes('_c');
	                var addGst=0
	               
	                if(!ntnType){
	                	  addGst=  addGst= [[${tax.listOfTaxes.addGstTax}]];	 
	                	   $('#addGstPercent').val(addGst);
		   	                $('#addGstPercent').attr('value', addGst);
	                }else{
	                	 $("#addGstRow").hide()
	                }
	              
	                
	                var discount= [[${returnNote.order.customer.discount}]];
	                var subTotal=0;
	                $("#subTotal > option").each(function() {
	                	subTotal  = subTotal + Math.round(this.text);
	                });
	                
	                var totalAmount=subTotal;
	                var addGstAmount=totalAmount * addGst / 100;	  
	                var gst=0;
	                if(brandId=='1'){    					
             		   gst =totalAmount * ifgGst / 100;	   
             			$('#gst').val(Math.round(ifgGst));
    	                $('#gst').attr('value', Math.round(ifgGst));     
	 				}else{
 					 gst=totalAmount * triGst / 100;
 					$('#gst').val(Math.round(triGst));
	                $('#gst').attr('value', Math.round(triGst));     
 					}

	                var total= totalAmount+addGstAmount+gst; 
	                var disAmount=0;
	               
	                if(discount!=null && discount>0){  	                		                	             	
	                	disAmount=total * discount / 100;	                	 
	                	total=total-disAmount; 
	                	$('#dstPerc').val(discount);
		                $('#dstPerc').attr('value', discount);  
	                	 $('#discountAmount').val(Math.round(disAmount));
					}
	                
	                var whtAmount=total *  wht / 100;
	                var grandTotal= whtAmount+total;
	               
	                $('#totalAmount').val(Math.round(totalAmount));
	                $('#totalAmount').attr('value', Math.round(totalAmount));
	                
	                $('#gstAmount').val(Math.round(gst));
	                $('#gstAmount').attr('value', Math.round(gst));
	              	
	                $('#addGstAmount').val(Math.round(addGstAmount));
	                $('#addGstAmount').attr('value', Math.round(addGstAmount));             

	                $('#whtAmount').val(Math.round(whtAmount));
	                $('#whtAmount').attr('value', Math.round(whtAmount));
	                
	                $('#whtPercent').val(wht);
   	                $('#whtPercent').attr('value', wht);  
	                
	                $('#total').val(Math.round(total));
	                $('#total').attr('value', Math.round(total));
	                $('#grandAmount').val(Math.round(grandTotal));
	                $('#grandAmount').attr('value', Math.round(grandTotal));

	               /*  $(".loader").fadeOut(); */
	                $("#returnNoteForm").submit();
	                document.getElementById("generated").style.visibility = "visible";
	                console.log("ntn:"+ntn);
	                console.log("ntnType:"+ntnType);
	                console.log("TotalAmount:"+totalAmount);
	                console.log("gst:"+gst);
	                console.log("addGstAmount:"+addGstAmount);
	                console.log("disAmount:"+disAmount);
	                console.log("whtAmount:"+whtAmount);
	                console.log("total:"+total);
	                console.log("grandTotal:"+grandTotal);
	              
	              
	                $(this).css({
	                    "background-color": "",
	                    "font-weight": "900",
	                    "border": "2px solid black"
	                });
});
					
				
					
					
				  </script>
		<script type="text/javascript">
			function printthis() {
				$("#printarea").show();
				$("#printarea").printThis({
					 	debug: true,           // show the iframe for debugging
				        importCSS: true,        // import parent page css
				        importStyle: true,     // import style tags
				        printContainer: false,   // print outer container/$.selector
				        loadCSS: "css/my.css",            // load an additional css file - load multiple stylesheets with an array []
				        pageTitle: "",          // add title to print page
				        removeInline: false,    // remove all inline styles
				        printDelay: 333,        // variable print delay
				        header: null,           // prefix to html
				        formValues: true,        // preserve input/form values
				        doctypeString: '<!DOCTYPE html>' // html doctype
				
				});
				//  window.print();
			}
			
		</script>
</body>
</html>
