

	<div class="row ">
		<div class="col-md-12 card-box">
			<br />
			<table id="salesReport"
				class="table table-striped m-b-0 table-hover toggle-circle default footable-loaded footable">
				<thead>
					<tr>
						<th>Date</th>
						<th>Customer Name & Code</th>
						<th>Sales Rep Name & Code</th>
						<th>Brand</th>
						<th>Product</th>
						<th>Total Sale</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="salesList : ${salesList}">
						<td th:text="${salesList.date?:''}">date</td>
						<td th:text="${salesList.customerName?:''}">customer name</td>
						<td th:text="${salesList.saleRepName?:''}">sale Rep</td>
						<td th:text="${salesList.brand?:''}">Brand</td>
						<td th:text="${salesList.productName?:''}">Product</td>
						<td th:text="${salesList.totalAmount?:''}">amount</td>

					</tr>

				</tbody>
			</table>
		</div>
	</div>
<script>
	$(document).ready(function() {
		var buttonCommon = {
			exportOptions : {
				format : {
					body : function(data, column, row) {
						// Strip $ from salary column to make it numeric
						return column === 5 ? data.replace(/[$,]/g, '') : data;
					}
				}
			}
		};

		$('#salesReport').DataTable({
			dom : 'Bfrtip',
			buttons : [
			/*  $.extend( true, {}, buttonCommon, {
			     extend: 'copyHtml5'
			 } ), */
			$.extend(true, {}, buttonCommon, {
				extend : 'excelHtml5',
				message: 'Product Sales Reports'
			}), $.extend(true, {}, buttonCommon, {
				extend : 'pdfHtml5',				
				message: 'Product Sales Reports'
			}) ],

		});
	});
</script>