<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="ifgadd">
		<h1 class="text-muted m-t-0 m-b-20" style="color: #EB088D">
			<b>New SMS Product</b>
		</h1>
	</div>

	<div th:fragment="ifgedit">
		<h1 class="text-muted m-t-0 m-b-20" style="color: #EB088D">
			<b>Edit SMS Product</b>
		</h1>
	</div>

	<div th:fragment="triumphadd">
		<h1 class="text-muted m-t-0 m-b-20" style="color: red;">
			<b>New Triumph Product</b>
		</h1>
	</div>
	<div th:fragment="triumphedit">
		<h1 class="text-muted m-t-0 m-b-20" style="color: red;">
			<b>Edit Triumph Product</b>
		</h1>
	</div>
	<div th:fragment="addsalesrep">
		<h4 class="custom-modal-title">Add Sales Representative</h4>
	</div>
	<div th:fragment="adddataentry">
		<h4 class="custom-modal-title">Add Data Entry User</h4>
	</div>
	<div th:fragment="addmanager">
		<h4 class="custom-modal-title">Add Warehouse Manager</h4>
	</div>
	<div th:fragment="editsalesrep">
		<h4 class="custom-modal-title">Edit Sales Representative</h4>
	</div>
	<div th:fragment="editdataentry">
		<h4 class="custom-modal-title">Edit Data Entry User</h4>
	</div>
	<div th:fragment="editmanager">
		<h4 class="custom-modal-title">Edit Warehouse Manager</h4>
	</div>
</body>
</html>

