<!--Triumph Starts-->
<div id="navpills-21" class="tab-pane" th:fragment="triumph">
	<div class="row">
		<div class="col-sm-12">
			<form role="form" id="formtri" th:action="@{/saveProduct}"
				th:object="${entity}" method="POST">
				<div class="row">
					<div class="col-md-6">
						<div class="card-box">
							<div th:replace="text :: triumphadd"></div>

							<input type="hidden" th:field="*{product.productId}" id="pIdtri" />
							<input type="hidden" id="triumphCode"
								th:field="*{product.brand.brandId}">

							<div class="form-group m-b-20">
								<label>Product Category<span class="text-danger">*</span></label>
								<a id="triprocat" onclick="triprocat();"
									class="btn btn-primary waves-effect waves-light R"><i
									class="fa fa-plus"> New</i></a> <select id="triproductcat"
									th:field="*{product.productCategory.productCategoryId}"
									required="required" name="importproductcat2"
									class="form-control select2 dropdown-toggle btn-custom2">
									<option value="" selected="selected">Please Select</option>
									<option th:each="pCatList : ${productCategoryList}"
										th:value="${pCatList.productCategoryId}"
										th:text="${pCatList.name}"></option>
								</select>
							</div>
							<div class="form-group m-b-20">
								<label>Product Type</label> <a id="triprotype"
									onclick="triprotype();"
									class="btn btn-primary waves-effect waves-light R"><i
									class="fa fa-plus"> New</i></a> <select id="triproducttype"
									th:field="*{product.productType.productTypeID}"
									required="required"
									class="form-control select2 dropdown-toggle btn-custom2">
									<option value="" selected="selected">Please Select</option>

									<option th:each="productTypeList : ${productTypeList}"
										th:value="${productTypeList.productTypeID}"
										th:text="${productTypeList.name}"></option>
								</select>
							</div>

							<div class="form-group m-b-20">
								<label>Product Name<span class="text-danger">*</span></label> <a
									id="triproname" onclick="triproname();"
									class="btn btn-primary waves-effect waves-light R"><i
									class="fa fa-plus"> New</i></a> <select id="triproductname"
									th:field="*{product.productName.productNameId}"
									required="required" name="productnameselect2"
									class="form-control select2 dropdown-toggle btn-custom2">
									<option value="" selected="selected">Please Select</option>
									<option th:each="productNameList : ${productNameList}"
										th:value="${productNameList.productNameId}"
										th:text="${productNameList.name}"></option>
								</select>
							</div>

							<div class="form-group m-b-20">
								<label>Color <span class="text-danger">*</span></label> <a
									id="triprocolor" onclick="triprocolor();"
									class="btn btn-primary waves-effect waves-light R"><i
									class="fa fa-plus"> New</i></a> <select id="tricolor"
									th:field="*{product.color.colorId}" required="required"
									class="form-control select2 dropdown-toggle btn-custom2">
									<option value="" selected="selected">Please Select</option>

									<option th:each="colorList : ${colorList}"
										th:value="${colorList.colorId}" th:text="${colorList.name}"></option>
								</select>
							</div>
							<div class="form-group m-b-20">
								<label>Cup<span class="text-danger">*</span></label> <a
									id="triprocup" onclick="triprocup();"
									class="btn btn-primary waves-effect waves-light R"><i
									class="fa fa-plus"> New</i></a> <select id="tricup"
									th:field="*{product.cup.cupId}" required="required"
									class="form-control select2 dropdown-toggle btn-custom2">
									<option value="" selected="selected">Please Select</option>
									<option th:each="cupList: ${cupList}"
										th:value="${cupList.cupId}" th:text="${cupList.name}"></option>
								</select>
							</div>
							<div id="size" class="form-group m-b-20">
								<label>Size</label> <!-- <a id="triprosize" onclick="triprosize();"
									class="btn btn-primary waves-effect waves-light R"><i
									class="fa fa-plus"> New</i></a> --> <select id="trisize"
									th:field="*{product.size.sizeId}" required="required"
									class="form-control select2 dropdown-toggle btn-custom2">
									<option value="" selected="selected">Please Select</option>
									<option th:each="sizeList: ${sizeList}"
										th:value="${sizeList.sizeId}"
										th:text="${sizeList.productSize}"></option>
								</select>
							</div>

							<div id="Quantity" class="form-group m-b-20">
								<label>Quantity</label> <input id="triquantity"
									th:field="*{product.quantity}" required="required"
									class="form-control select2 dropdown-toggle btn-custom2 quan"></input>
							</div>
							
							<div class="form-group m-b-20">
								<label>Enable Total Quantity Display</label>
							</div>

							<!-- <div class="col-md-12" style="text-align: center;">
								<div class="checkbox checkbox-slider--a checkbox-slider-lg">
									<label> <input type="checkbox" checked=""><span></span>
									</label>
								</div>
							</div> -->

<input type="checkbox" name="isQuantityExposable"
								id="isQuantityExposable"
								th:field="*{product.isQuantityExposable}" checked="">

						</div>
					</div>
					<div class="col-md-6 card-box">

						<h1 class="text-muted m-t-0 m-b-20" style="color: red;">
							<b>Unit Pricing</b>
						</h1>

						<div id="price12" class="form-group m-b-20 btn prcbtn">
							<label>Ex-Factory Price <span class="text-danger">*</span></label>
							<input id="trinum1" th:field="*{product.exFactory}" type="text"
								required="required" class="form-control btn-custom2"
								placeholder="e.g. 562.56">
						</div>
						<div id="price22" class="form-group m-b-20 btn prcbtn">
							<label ><span th:text="${tax.triGstTax}"></span>% GST <span class="text-danger">*</span></label> <input
								id="trigst" th:readonly="true"  th:field="*{product.gstRate}" type="text"
								required="required" class="form-control btn-custom2">
						</div>
						<div id="price32" class="form-group m-b-20 btn  prcbtn">
							<label>Total Price <span class="text-danger">*</span></label> <input  th:readonly="true"
								id="trisum" th:field="*{product.totalPrice}" type="text"
								required="required" class="form-control btn-custom2" value="">
						</div>
						<div id="price42" class="form-group m-b-20 btn prcbtn">
							<label>Market Retail Price <span class="text-danger">*</span></label>
							<input id="trimarketretail" onchange="checkMarketPricTri()" 
								th:field="*{product.marketRetailPrice}" type="text"
								required="required" class="form-control btn-custom2"
								placeholder="e.g. 562.56">
						</div>
						<div class="col-md-12 cen fon cc-selector">
							<h1 class="text-muted m-t-0 m-b-20" style="color: red;">
								<b>Add Product To:</b>
							</h1>
							<div class="radio radio-info radio-inline">
								<input type="radio" id="triwarehouse1"
									th:field="*{product.warehouse.warehouseId}" value="1"
									name="radioInline"> <label for="triwarehouse1"
									class="drinkcard-cc visa"><p>SMS Warehouse</p></label>
							</div>
							<div class="radio radio-success radio-inline">
								<input type="radio" id="triwarehouse2"
									th:field="*{product.warehouse.warehouseId}" value="2"
									name="radioInline"> <label for="triwarehouse2"
									class="drinkcard-cc mastercard"><p>Triumph
										Warehouse</p></label>
							</div>
							<div class="radio radio-pink radio-inline">
								<input type="radio" id="triwarehouse3"
									th:field="*{product.warehouse.warehouseId}" value="3"
									name="radioInline"> <label for="triwarehouse3"
									class="drinkcard-cc debitcard"><p>Central Warehouse</p></label>
							</div>
						</div>
					</div>
				</div>

				<div id="savecancel" class="row">
					<div class="col-sm-12">
						<hr />
						<div class="text-center p-20">
							<button type="submit" id="trisave"
								class="btn btn-success btn-custom waves-effect waves-light wdth">Save</button>
							<span th:if="*{product.productId}==null">
								<button type="button" onClick="this.form.reset()"
									class="btn btn-inverse btn-custom waves-effect waves-light wdth">Reset</button>
							</span>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	//Triumph Products
	function triprocat() {
		$('#tri-modal').modal('hide');
		swal({
			title : "Add Product Category!",
			text : 'Type Product Category Name:',
			type : 'input',
			showCancelButton : true,
			closeOnConfirm : false,
			animation : "slide-from-top",
			inputPlaceholder : "Category Name",
		}, function(inputValue) {
			$('#triproductcat option').each(function(e) {
				if (this.text == inputValue) {
					swal.showInputError("Already Exists in the List!");
					inputValue = false;
					return inputValue = false;
					return false;
					return;
				}
				else
					{productCategoryExist = false;}
			});

			if (inputValue === false) {
				$('#tri-modal').modal('show');
				return false;
			}

			if (inputValue === "") {
				swal.showInputError("You need to write something!");
				return false;
			} else {
				var url = "/saveProductCategory";
				var msg = "Product Category";
				var id = "#triproductcat";
				var brand = $('#triumphCode').val();
				console.log(brand);
				test(inputValue, url, msg, id, brand);
			}
			$('#tri-modal').modal('show');
		});
	}
	function triproname() {
		$('#tri-modal').modal('hide');
		swal({
			title : "Add Product Name!",
			text : 'Type Product Name:',
			type : 'input',
			showCancelButton : true,
			closeOnConfirm : false,
			animation : "slide-from-top",
			inputPlaceholder : "Product Name",
		}, function(inputValue) {
			$('#triproductname option').each(function(e) {
				if (this.text == inputValue) {
					swal.showInputError("Already Exists in the List!");
					inputValue = false;
					return inputValue = false;
					return false;
					return;
				}
				else
					{productCategoryExist = false;}
			});

			if (inputValue === false) {
				$('#tri-modal').modal('show');
				return false;
			}

			if (inputValue === "") {
				swal.showInputError("You need to write something!");
				return false;
			} else {
				var url = "/saveProductName";
				var msg = "Product Name";
				var id = "#triproductname";
				test(inputValue, url, msg, id, '2');
			}
			$('#tri-modal').modal('show');
		});
	}
	function triprocolor() {
		$('#tri-modal').modal('hide');
		swal({
			title : "Add New Color!",
			text : 'Type Color Name:',
			type : 'input',
			showCancelButton : true,
			closeOnConfirm : false,
			animation : "slide-from-top",
			inputPlaceholder : "Type Color Name",
		}, function(inputValue) {
			$('#tricolor option').each(function(e) {
				if (this.text == inputValue) {
					swal.showInputError("Already Exists in the List!");
					inputValue = false;
					return inputValue = false;
					return false;
					return;
				}
				else
					{productCategoryExist = false;}
			});

			if (inputValue === false) {
				$('#tri-modal').modal('show');
				return false;
			}
			if (inputValue === "") {
				swal.showInputError("You need to write something!");
				return false;
			} else {
				var url = "/saveColor";
				var msg = "Color";
				var id = "#tricolor";
				test(inputValue, url, msg, id, '2');
			}
			$('#tri-modal').modal('show');
		});
	}
	function triprotype() {
		$('#tri-modal').modal('hide');
		swal({
			title : "Add New Product Type!",
			text : 'Type Product Type:',
			type : 'input',
			showCancelButton : true,
			closeOnConfirm : false,
			animation : "slide-from-top",
			inputPlaceholder : "Product Type",
		}, function(inputValue) {
			$('#triproducttype option').each(function(e) {
				if (this.text == inputValue) {
					swal.showInputError("Already Exists in the List!");
					inputValue = false;
					return inputValue = false;
					return false;
					return;
				}
				else
					{productCategoryExist = false;}
			});

			if (inputValue === false) {
				$('#tri-modal').modal('show');
				return false;
			}
			if (inputValue === "") {
				swal.showInputError("You need to write something!");
				return false;
			} else {
				var url = "/saveProductType";
				var msg = "Product Type";
				var id = "#triproducttype";
				test(inputValue, url, msg, id, '2');
			}
			$('#tri-modal').modal('show');
		});
	}
	function triprocup() {
		$('#tri-modal').modal('hide');
		swal({
			title : "Add New Cup!",
			text : 'Type Cup Alphabet:',
			type : 'input',
			showCancelButton : true,
			closeOnConfirm : false,
			animation : "slide-from-top",
			inputPlaceholder : "Cup",
		}, function(inputValue) {
			$('#tricup option').each(function(e) {
				if (this.text == inputValue) {
					swal.showInputError("Already Exists in the List!");
					inputValue = false;
					return inputValue = false;
					return false;
					return;
				}
				else
					{productCategoryExist = false;}
			});

			if (inputValue === false) {
				$('#tri-modal').modal('show');
				return false;
			}
			if (inputValue === "") {
				swal.showInputError("You need to write something!");
				return false;
			} else {
				var url = "/saveCup";
				var msg = "Cup";
				var id = "#tricup";
				test(inputValue, url, msg, id, '2');
			}
			$('#tri-modal').modal('show');
		});
	}
	function triprosize() {
		$('#tri-modal').modal('hide');
		swal({
			title : "Add New Size!",
			text : 'Type New Size:',
			type : 'input',
			showCancelButton : true,
			closeOnConfirm : false,
			animation : "slide-from-top",
			inputPlaceholder : "Size",
		}, function(inputValue) {
			$('#trisize option').each(function(e) {
				if (this.text == inputValue) {
					swal.showInputError("Already Exists in the List!");
					inputValue = false;
					return inputValue = false;
					return false;
					return;
				}
				else
					{productCategoryExist = false;}
			});

			if (inputValue === false) {
				$('#tri-modal').modal('show');
				return false;
			}
			if (inputValue === "") {
				swal.showInputError("You need to write something!");
				return false;
			} else {
				var url = "/saveSize";
				var msg = "Size";
				var id = "#trisize";
				test(inputValue, url, msg, id, '2');
			}
			$('#tri-modal').modal('show');
		});
	}

	function test(inputValue, url, msg, optId, brand) {
		$.ajax({
			type : "post",
			url : url,
			data : {
				'inputValue' : inputValue,
				'brand' : brand
			},
			success : function(data) {
			}
		}).done(
				function(data) {
					if (data != 0) {
						$(optId).append(
								'<option value="' + data + '" selected="selected">'
										+ inputValue + '</option>');
						swal("Added!", msg + " Added!", "success");

					} else {
						swal("Oops", msg + " Creation Failed", "error");
					}
				}).error(function(data) {
			swal("Oops", "We couldn't connect to the server!", "error");
		});
	};
	
	
	
	function checkMarketPricTri(){
		
		var market=document.getElementById("trimarketretail").value;	
		var total=parseFloat(document.getElementById("trisum").value).toFixed(0);
		if(total>market){
			swal("Market Retail Price can not be less than Total Price.");
			$('#trimarketretail').val('');
		}
}
	
	
</script>


<script type="text/javascript"  th:inline="javascript">
	$(document).ready(function() {
		//this calculates values automatically 
		sum2();
		$("#ifgnum1, #trinum1").on("keydown keyup", function() {
			sum2();
		});
	/* 	$("#trimarketretail").on("change", function() {
			var market=$('#trimarketretail').val();
			/* var total=$('#ifgsum').val().toFixed(0); 
			var total=parseFloat($('#trisum').val()).toFixed(0);
			if(market<total){
				swal("Market Retail Price can not be less than Total Price.");
				$('#trimarketretail').val('');
			}
		}); */
		
		
		
	});

	function sum2() {
		var num1 = $('#trinum1').val();
        var num2=[[${tax.triGstTax}]];	

		var result1 = parseInt(num1) * (parseInt(num2) / 100);
		var result = parseInt(num1) + result1;
		
		
		
		if (!isNaN(result)) {
			$('#trisum').val(result.toFixed(2));
			$('#trigst').val(result1.toFixed(2));
		}
	};
</script>
<!--Triumph Ends-->