<html>
<head th:replace="header :: header"></head>
<body class="fixed-left">
	<div id="wrapper">
		<div class="topbar" th:replace="header :: topbar"></div>
		<div class="left side-menu" th:replace="header :: navigation"></div>

		<!--  ==============================================================
            Start right Content here
            ============================================================== -->
		<div class="content-page">
			<form th:action="@{/accounts}" role="form" method="post"
				th:object="${tax}">
				<div class="content">
					<div
						class="mdl-color--blue-grey relative clear fadeInLeft animated"
						style="min-height: 195px; margin-left: -5px; margin-top: -20px;">
						<div class="p-20">
							<h1 class="mdl-color-text--white m-t-20 m-b-5 cen">Welcome
								to Accounts Management Panel</h1>
						</div>
					</div>
					<div class="ml-card-holder cards-top container"
						style="margin-top: -65px;">
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-6">
								<div class="price_card text-center" style="height: 232px;">
									<div class="pricing-header bg-primary">
										<span class="price">W.H.T</span> <span class="name">Withholding
											Tax %</span>
									</div>
									<div class="form-group has-success" style="margin-top: 20px;">
										<div class="col-md-3"></div>
										<div class="col-md-6">
											<input type="text" class="form-control" required="required"
												style="text-align: center;" id="additionalGST"
												th:field="*{listOfTaxes.wht}" placeholder="Enter W.H.T %">
										</div>
										<div class="col-md-3"></div>
									</div>

									<!-- <button class="btn btn-primary waves-effect waves-light w-md" onclick="saveWHT()">Save</button> -->
								</div>
								<!-- end Pricing_card -->
							</div>
							<!-- end col -->

							<div class="col-sm-6 col-md-6 col-lg-6">
								<div class="price_card text-center" style="height: 232px;">
									<div class="pricing-header bg-pink">
										<span class="price">SMS G.S.T</span> <span class="name">SMS
											General Sales Tax %</span>
									</div>
									<div class="form-group has-success" style="margin-top: 20px;">
										<div class="col-md-3"></div>
										<div class="col-md-6">
											<input type="text" class="form-control" required="required"
												style="text-align: center;" id="additionalGST"
												th:field="*{listOfTaxes.ifgGstTax}"
												placeholder="Enter SMS G.S.T %">
										</div>
										<div class="col-md-3"></div>
									</div>
									<!-- <button class="btn btn-pink w-md waves-effect waves-light" onclick="ifgGST()">Save</button> -->
								</div>
							</div>
							<!-- end col -->

							<div class="col-sm-6 col-md-6 col-lg-6">
								<div class="price_card text-center" style="height: 232px;">
									<div class="pricing-header bg-purple">
										<span class="price">Triumph G.S.T</span> <span class="name">Triumph
											General Sales Tax %</span>
									</div>
									<div class="form-group has-success" style="margin-top: 20px;">
										<div class="col-md-3"></div>
										<div class="col-md-6">
											<input type="text" class="form-control" required="required"
												style="text-align: center;" id="additionalGST"
												th:field="*{listOfTaxes.triGstTax}"
												placeholder="Enter Triumph G.S.T %">
										</div>
										<div class="col-md-3"></div>
									</div>
									<!-- 	<button class="btn btn-purple w-md waves-effect waves-light" onclick="triGST()">Save</button> -->
								</div>
								<!-- end Pricing_card -->
							</div>
							<!-- end col -->
							<input id="texId" type="hidden" th:field=*{listOfTaxes.taxId} />

							<div class="col-sm-6 col-md-6 col-lg-6">
								<div class="price_card text-center" style="height: 232px;">
									<div class="pricing-header bg-success">
										<span class="price">Additional G.S.T</span> <span class="name">Additional
											General Sales Tax %</span>
									</div>
									<div class="form-group has-success" style="margin-top: 20px;">
										<div class="col-md-3"></div>
										<div class="col-md-6">
											<input type="text" class="form-control" required="required"
												style="text-align: center;" id="additionalGST"
												th:field="*{listOfTaxes.addGstTax}"
												placeholder="Enter Additional G.S.T %">
										</div>
										<div class="col-md-3"></div>
									</div>
									<!-- <button class="btn btn-success w-md waves-effect waves-light" onclick="additionalGST()">Save</button> -->
								</div>
								<!-- end Pricing_card -->
							</div>
							<!-- end col -->

						</div>

						<div class="col-md-12">
							<div class="col-md-4"></div>
							<button type="submit"
								class="btn col-md-4 btn-lg btn-primary waves-effect waves-light">SAVE</button>
							<div class="col-md-4"></div>
						</div>


					</div>

				</div>

			</form>

		</div>

		<div th:replace="footer :: copy"></div>
		<script>
			function setOrderRequest(id) {

				window.location.href = 'viewOrderRequest?orderRequestId=' + id;
			}
		</script>


		<!-- 
            ==============================================================
            End Right content here
            ============================================================== -->


		<!--   Right Sidebar -->
		<div class="side-bar right-bar nicescroll"
			th:replace="footer :: rightbar"></div>
		<!-- /Right-bar -->

	</div>
	<!-- END wrapper -->

	<div th:replace="footer :: script"></div>
	<script>
		function saveWHT() {
			var a = $('#whtInput').val().replace("%", "");
			alert(a);
			var b = $('#ifgGST').val().replace("%", "");
			alert(b);
			var c = $('#additionalGST').val().replace("%", "");
			alert(c);
			var d = $('#triGST').val().replace("%", "");
			alert(d);
		}
	</script>
	<div th:if="${f_msg} != null">
		<script th:inline="javascript">
				 var f_msg= [[${f_msg}]];				
				 swal("Oops...",f_msg, "error");
	
		</script>

	</div>
	<div th:if="${s_msg} != null">
		<script th:inline="javascript">
				 var s_msg= [[${s_msg}]];				
			    swal(s_msg);
		</script>

	</div>

</body>
</html>
</html>