<html xmlns:th="http://www.thymeleaf.org"/>
<html>
	<head th:replace="header :: header"></head>


   	<body class="fixed-left">
		<div id="wrapper">
			<div class="topbar" th:replace="header :: topbar"></div>
				 <div class="left side-menu" th:replace="header :: navigation"></div>


			<!-- ============================================================== -->
			<!-- Start right Content here -->
			<!-- ============================================================== -->
			<div class="content-page">
				<!-- Start content -->
				<div class="content">
	<div class="mdl-color--pink ml-header relative clear fadeInLeft animated" style="min-height: 195px; margin-left: -5px; margin-top: -20px;">
    <div class="p-20">
   <h1 class="cen white">F.A.Q</h1>
    </div>
  </div>
					<div class="ml-card-holder cards-top  container" style="margin-top: -100px;">

						<!-- Page-Title -->
						<div class="row">
							<div class="col-sm-12">
								<div class="card-box fadeInUp animated">
									
									<div class="row">
								        <div class="col-md-6">
								        	<div class="p-20 p-t-0">
									          <!-- Question/Answer -->
									          <div class="faq-box">
									            <h4 class="question" data-wow-delay=".1s">How to edit Reports?</h4>
									            <p class="answer">Editing reports is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
									          </div>
									
									          <!-- Question/Answer -->
									           <div class="faq-box">
									            <h4 class="question" data-wow-delay=".1s">How to edit Reports?</h4>
									            <p class="answer">Editing reports is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
									          </div>
									
									          <!-- Question/Answer -->
									           <div class="faq-box">
									            <h4 class="question" data-wow-delay=".1s">How to edit Reports?</h4>
									            <p class="answer">Editing reports is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
									          </div>
									
									          <!-- Question/Answer -->
 <div class="faq-box">
									            <h4 class="question" data-wow-delay=".1s">How to edit Reports?</h4>
									            <p class="answer">Editing reports is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
									          </div>
									        </div>
									    </div>
								        <!--/col-md-5 -->
								
								        <div class="col-md-6">
								        	<div class="p-20 p-t-0">
									          <!-- Question/Answer -->
									         <div class="faq-box">
									            <h4 class="question" data-wow-delay=".1s">How to edit Reports?</h4>
									            <p class="answer">Editing reports is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
									          </div>
									
									          <!-- Question/Answer -->
 <div class="faq-box">
									            <h4 class="question" data-wow-delay=".1s">How to edit Reports?</h4>
									            <p class="answer">Editing reports is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
									          </div>
									
									          <!-- Question/Answer -->
									           <div class="faq-box">
									            <h4 class="question" data-wow-delay=".1s">How to edit Reports?</h4>
									            <p class="answer">Editing reports is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
									          </div>
									
									          <!-- Question/Answer -->
 <div class="faq-box">
									            <h4 class="question" data-wow-delay=".1s">How to edit Reports?</h4>
									            <p class="answer">Editing reports is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
									          </div>									        </div>
								        </div>
								        <!--/col-md-5-->
									</div>
								</div>
							</div>
						</div>
                       


                    </div> <!-- container -->
                               
                </div> <!-- content -->
<div th:replace="footer :: copy"></div>

          <!--   Right Sidebar -->
            <div class="side-bar right-bar nicescroll" th:replace="footer :: rightbar"></div>
            <!-- /Right-bar -->
           
        </div>
        <!-- END wrapper -->

 
<div th:replace="footer :: script"></div>
    </body>