  <!-- ========== Left Sidebar Start ========== -->

            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>

                        	<li class="menu-title">Navigation</li>

                            <li>
                                <a href="index.html" class="waves-effect"><i class="ti-home"></i> <span> Home </span> </a>
                               
                            </li>

                            <li>
                                <a href="orderlist" class="waves-effect"><i class="ti-shopping-cart"></i><span class="label label-primary pull-right">6</span><span>Orders</span> </a>
                            
                            </li>

                            <li>
                                <a href="history.html" class="waves-effect"><i class="ion-android-data "></i><span>History</span> </a>
                                
                            </li>

                            <li>
                                <a href="extra-invoice.html" class="waves-effect"><i class="ion-ios7-paper-outline "></i> <span>Invoices</span> </a>  
                            </li>

                            <li>
                                <a href="reports.html" class="waves-effect"><i class="ti-pencil-alt"></i><span> Reports </span></a>
                               
                            </li>

                            <li>
                                <a href="extra-faq.html" class="waves-effect"><i class="ion-help"></i><span>Help</span></a>
                                
                            </li>

                            <li>
                                <a href="extra-profile.html" class="waves-effect"><i class="ion-android-settings "></i><span>Accounts</span></a>
                                
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>